<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-user-alt-3 bg-c-lite-green"></i>
						<div class="d-inline">
							<h4>法人一覧</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div class="card">
			<div class="card-block">
				<form id="defaultForm" class="form-horizontal" th:object="${corporationInputForm}">
					<div class="dt-responsive table-responsive">
						<input type="hidden" class="js-single">
						<table id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width:100%">
							<thead>
								<tr>
									<th>法人ID</th>
									<th>法人名</th>
									<th>代理店ID</th>
									<th>代理店名</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>法人ID</th>
									<th>法人名</th>
									<th>代理店ID</th>
									<th>代理店名</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="corporationDto : ${corporationDtoList}">
									<td><a href="#" sec:authorize="hasAuthority('CORPORATION_VIEW')" th:href="@{/account/corporation/detail(corporationId=${corporationDto.corporationId})}" th:method="get" th:text="${corporationDto.corporationId}">0001</a></td>
									<td th:text="${corporationDto.corporationName}">法人名</td>
									<td><a href="#" sec:authorize="hasAuthority('AGENCY_VIEW')" th:href="@{/account/agency/detail(agencyId=${corporationDto.agencyId})}" th:method="get" th:text="${corporationDto.agencyId}">0001</a></td>
									<td th:text="${corporationDto.agencyName}">代理店名</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
	
</body>
</html>