<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-envira bg-c-blue"></i>
						<div class="d-inline">
							<h4>広告物アップロード</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div class="card">
			<div class="card-block">
				<form action="#" th:object="${dspCreativeDto}">
					<h4 class="sub-title">クリエイティブ情報</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">クリエイティブ名</label>
						<div class="col-sm-4">
							<label class="col-form-label" th:text="*{creativeName}">クリエイティブテスト</label>
						</div>
					</div>
					<h4 class="sub-title">バナー画像</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label"></label>
						<div class="col-sm-8">
							<img class="img-fluid" th:src="${base64Data}">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-warning" type="submit" sec:authorize="hasAuthority('DSP_CREATIVE_VIEW')" th:formaction="@{/upload/dsp/completeCreative}" th:formmethod="get">作成</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
