option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: true
    SSLCertificateArns: arn:aws:acm:ap-northeast-1:595800741275:certificate/308921fa-a7e4-4f9b-b3b1-f7fd802bfea4
    Protocol: HTTPS

  aws:elasticbeanstalk:environment:process:default:
    Port: 80
    Protocol: HTTP
    StickinessEnabled: true # スティッキーセッションの有効化
    HealthCheckPath: /heartBeat      # ヘルスチェック対象のパス
    HealthCheckTimeout: 30  # ヘルスチェックのタイムアウト時間(秒)
    HealthCheckInterval: 60 # ヘルスチェックの間隔(秒)
    MatcherHTTPCode: 200    # 「このコードが帰ってきたらヘルスチェック成功！」と言えるHTTPのステータスコード
    
  aws:elbv2:listener:80:    # ロードバランサーが80ポートで受けた時の定義
    DefaultProcess: http
    ListenerEnabled: true
    Protocol: HTTP

  aws:elasticbeanstalk:environment:process:http:
    Port: 81
    Protocol: HTTP
    HealthCheckPath: /heartBeat
    HealthCheckTimeout: 30
    HealthCheckInterval: 60
    MatcherHTTPCode: 301    # リダイレクトされるのでコードは301が帰ってくるはず
