<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-user-alt-3 bg-c-lite-green"></i>
						<div class="d-inline">
							<h4>ユーザー新規作成</h4>
							<strong class="text-danger">※の項目は、必須項目です。</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form id="defaultForm" class="form-horizontal" th:action="@{/user/createComplete}" th:object="${userInputForm}" method="post" onsubmit="return check('')">
			<div th:replace="common/errorMessages"></div>
			<div class="card">
				<div class="card-block">
					<input type="hidden" th:field="*{userId}" /> <input type="hidden" th:field="*{shopId}" /> <input type="hidden" th:field="*{shopName}" />
					<h4 class="sub-title">ユーザー情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗ID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{shopId}">0001</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗名</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{shopName}">店舗1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">ユーザー名<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="ユーザー名" th:field="*{userName}" required="required" maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">メールアドレス<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-6">
							<input type="email" class="form-control" placeholder="メールアドレス" th:field="*{email}" required="required" maxlength="60">
						</div>
					</div>
					<div class="form-group row gutter">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">パスワード<span class="text-danger">※</span></label>
						</div>
						<div class="col-lg-2">
							<input type="text" class="form-control" placeholder="パスワード" th:field="*{password}" required="required" minlength="6" maxlength="20" />
						</div>
					</div>
					<div class="form-group row gutter">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">権限<span class="text-danger">※</span></label>
						</div>
						<div class="col-lg-2">
							<select class="form-control" th:field="*{roleId}" required="required">
								<option value="">-- 選択してください --</option>
								<option th:each="object : ${T(jp.acepro.haishinsan.enums.Role).values()}" th:selected="${roleId == object.value}" th:value="${object.value}" th:text="${object.label}">管理者</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-success" sec:authorize="hasAuthority('USER_MANAGE')" type="submit" th:formaction="@{/user/createComplete}" th:formmethod="post">作成</button>
							<button type="button" sec:authorize="hasAuthority('SHOP_VIEW')" class="btn btn-warning" th:onclick="'window.location.href = \'' + @{/shop/detail?shopId={id}(id=*{shopId})} + '\''">店舗詳細へ戻る</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
