<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-twitter bg-twiter"></i>
						<div class="d-inline">
							<h4>Twitter広告 レポーティング</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form th:action="@{/twitter/reportingList(reportType=1)}" method="post" th:object="${twitterReportInputForm}">
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">検索条件</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">案件名</label>
						</div>
						<div class="col-sm-4" th:if="${#lists.isEmpty(campaignIds)}">
							<select class="searchable" multiple="multiple" th:field="${twitterReportInputForm.campaignIds}">
								<option th:each="object : ${campaignIds}" th:value="${object.getFirst()}" th:text="${object.getSecond()}"></option>
							</select>
						</div>
						<div class="col-sm-4" th:unless="${#lists.isEmpty(campaignIds)}" id="redraw">
							<select class="searchable" multiple="multiple" th:field="${twitterReportInputForm.campaignIds}">
								<option th:each="object : ${campaignIds}" th:selected="${#lists.contains(campaignIds)}" th:value="${object.getFirst()}" th:text="${object.getSecond()}"></option>
							</select>
						</div>
					</div>
					<div class="form-radio">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">期間</label>
							<div class="radio radio-inline col-sm-2 col-form-label" th:each="object : ${T(jp.acepro.haishinsan.enums.PeriodSet).values()}">
								<label> <input class="form-control" type="radio" th:value="${object.value}" th:field="*{period}" th:text="${object.label}" checked="checked" required="required"> <i class="helper"></i>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group row" id="search">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">開始日</label>
						</div>
						<div class="col-sm-2">
							<input type="date" class="form-control" th:field="${twitterReportInputForm.startDate}">
						</div>
						<div class="col-sm-2 text-right">
							<label class="col-form-label">終了日</label>
						</div>
						<div class="col-sm-2">
							<input type="date" class="form-control" th:field="${twitterReportInputForm.endDate}">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">表示別</label>
						</div>
						<div class="col-sm-10">
							<button class="btn btn-primary" type="submit" sec:authorize="hasAuthority('TWITTER_REPORT_VIEW')" th:formmethod="post" th:formaction="@{/twitter/reportingList(reportType=1)}">デバイス</button>
							<button class="btn btn-success" type="submit" sec:authorize="hasAuthority('TWITTER_REPORT_VIEW')" th:formmethod="post" th:formaction="@{/twitter/reportingList(reportType=3)}">地域</button>
							<button class="btn btn-info" type="submit" sec:authorize="hasAuthority('TWITTER_REPORT_VIEW')" th:formmethod="post" th:formaction="@{/twitter/reportingList(reportType=2)}">日別</button>
						</div>
					</div>
				</div>
			</div>

			<div th:if="${(reportType != null) && (reportType != '')} ">
				<div class="page-body">
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div class="card">
								<div class="card-block">
									<h4 class="sub-title">グラフ</h4>
								</div>
								<div id="twitter_c3" class="c3"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-block">
						<h4 class="sub-title">データ</h4>
						<div class="dt-responsive table-responsive">
							<table th:if="${reportType} == ${T(jp.acepro.haishinsan.enums.ReportType).DEVICE.getValue()}" id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%;">
								<thead>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>デバイス</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>フォローワー数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="twitterReportingDto : ${twitterReportDisplayDtoList}">
										<td th:text="${twitterReportingDto.campaignId}">2323</td>
										<td th:text="${twitterReportingDto.campaignName}">2323</td>
										<td th:text="${twitterReportingDto.deviceName}">2323</td>
										<td th:text="${twitterReportingDto.impressions}+'回'">1,000,000</td>
										<td th:text="${twitterReportingDto.clicks}+'回'">2323</td>
										<td th:text="${twitterReportingDto.follows}">1</td>
										<td th:text="${twitterReportingDto.costs} + '円'">112</td>
										<td th:text="${twitterReportingDto.ctr} + '%'">191</td>
										<td th:text="${twitterReportingDto.cpc}">191</td>
										<td th:text="${twitterReportingDto.cpm}">191</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>デバイス</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>フォローワー数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</tfoot>
							</table>
							<table th:if="${reportType} == ${T(jp.acepro.haishinsan.enums.ReportType).REGIONS.getValue()}" id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%;">
								<thead>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>都道府県</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>フォローワー数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="twitterReportingDto : ${twitterReportDisplayDtoList}">
										<td th:text="${twitterReportingDto.campaignId}">2323</td>
										<td th:text="${twitterReportingDto.campaignName}">2323</td>
										<td th:text="${twitterReportingDto.locationName}">2323</td>
										<td th:text="${twitterReportingDto.impressions}+'回'">1,000,000</td>
										<td th:text="${twitterReportingDto.clicks}+'回'">2323</td>
										<td th:text="${twitterReportingDto.follows}">1</td>
										<td th:text="${twitterReportingDto.costs} + '円'">112</td>
										<td th:text="${twitterReportingDto.ctr} + '%'">191</td>
										<td th:text="${twitterReportingDto.cpc}">191</td>
										<td th:text="${twitterReportingDto.cpm}">191</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>都道府県</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>フォローワー数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</tfoot>
							</table>
							<table th:if="${reportType} == ${T(jp.acepro.haishinsan.enums.ReportType).DATE.getValue()}" id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%;">
								<thead>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>日付</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>フォローワー数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="twitterReportingDto : ${twitterReportDisplayDtoList}">
										<td th:text="${twitterReportingDto.campaignId}">2323</td>
										<td th:text="${twitterReportingDto.campaignName}">2323</td>
										<td th:text="${twitterReportingDto.day}">2323</td>
										<td th:text="${twitterReportingDto.impressions}+'回'">1,000,000</td>
										<td th:text="${twitterReportingDto.clicks}+'回'">2323</td>
										<td th:text="${twitterReportingDto.follows}">1</td>
										<td th:text="${twitterReportingDto.costs} + '円'">112</td>
										<td th:text="${twitterReportingDto.ctr} + '%'">191</td>
										<td th:text="${twitterReportingDto.cpc}">191</td>
										<td th:text="${twitterReportingDto.cpm}">191</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>日付</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>フォローワー数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 text-center">
								<button class="btn btn-success" th:formaction="@{/twitter/download(reportType=${reportType})}" th:formmethod="Post">CSVダウンロード</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body">
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			window.onload = function() {


				// グラフ描画
				var chart = c3.generate({
					bindto : '#twitter_c3',
					data : {
						x : 'x',
						columns : [
						/*[[${twitterGraphReportDto.reportTypeList}]]*/,
						/*[[${twitterGraphReportDto.impressionList}]]*/,
						/*[[${twitterGraphReportDto.clicksList}]]*/,
						/*[[${twitterGraphReportDto.followsList}]]*/,
						/*[[${twitterGraphReportDto.priceList}]]*/,
						/*[[${twitterGraphReportDto.CTRList}]]*/,
						/*[[${twitterGraphReportDto.CPCList}]]*/,
						/*[[${twitterGraphReportDto.CPMList}]]*/
						],
						type : 'bar',
						names : {
							impressions : '表示回数',
							follows : 'フォロワー数',
							clicks : 'クリック回数',
							costs : '費用',
							ctr : 'CTR',
							cpc : 'CPC',
							cpm : 'CPM'
						},
						types : {
							ctr : 'line',
							cpc : 'line',
							cpm : 'line'
						}
					},
					axis : {
						x : {
							type : 'category',
							tick : {
								rotate : -35,
								multiline : true
							},
							height : 80
						}
					}
				});
			}
			/*]]>*/
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				if ($('[id=period1]').prop('checked')) {
					$('[id=search]').hide();
				}
				if ($('[id=period2]').prop('checked')) {
					$('[id=search]').show();
				}
			});
			$(document).ready(function() {
				$('[name="period"]:radio').change(function() {
					if ($('[id=period1]').prop('checked')) {
						$('[id=search]').fadeOut();
					}
					if ($('[id=period2]').prop('checked')) {
						$('[id=search]').fadeIn();
					}
				});
			});
		</script>
	</div>
</body>
</html>