<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-google bg-googleplus"></i>
						<div class="d-inline">
							<h4>Google広告 案件新規作成</h4>
							<strong class="text-danger">※の項目は、必須項目です。</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form th:action="@{/}" method="post" th:object="${googleCampaignForm}" enctype="multipart/form-data" onsubmit="return check('')">
			<div th:replace="common/errorMessages"></div>
			<input type="hidden" th:field="*{templateName}"> <input type="hidden" th:field="*{unitPriceType}">
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">テンプレート選択</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">テンプレート</label>
						<div class="col-sm-4">
							<select class="form-control" th:field="*{templateId}" onchange="refreshVal()">
								<option th:each="object : ${googleTemplateDtoList}" th:selected="${googleCampaignForm.templateId == object.getTemplateId()}" th:value="${object.getTemplateId()}" th:text="${object.getTemplateName()}">クリック重視</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">基本情報</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">案件名<span class="text-danger">※</span></label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{campaignName}" required maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信開始日<span class="text-danger">※</span></label>
						<div class="col-sm-4">
							<input type="date" max="9999-12-31" class="form-control" th:field="*{startDate}" required>
						</div>

					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信終了日<span class="text-danger">※</span></label>
						<div class="col-sm-4">
							<input type="date" max="9999-12-31" class="form-control" th:field="*{endDate}" required>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">日別予算<span class="text-danger">※</span></label>
						<div class="col-sm-2">
							<input type="number" class="form-control" th:field="*{budget}" required min="1" max="9999999999">
						</div>
						<span class="col-form-label">円</span>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">デバイス<span class="text-danger">※</span></label>
						<div class="col-sm-2">
							<select class="form-control" th:field="*{deviceType}" onchange="changeAdBlock()">
								<option th:each="object : ${T(jp.acepro.reporting.backoffice.enums.DeviceType).values()}" th:selected="${googleCampaignForm.deviceType == object.getValue()}" th:value="${object.getValue()}" th:text="${object.getLabel()}">全て</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">地域<span class="text-danger">※</span></label>
						<div class="col-sm-4" th:if="${#lists.isEmpty(googleCampaignForm.locationList)}">
							<select class="searchable" multiple="multiple" th:field="*{locationList}">
								<option th:each="object : ${T(jp.acepro.reporting.backoffice.service.CodeMasterServiceImpl).googleAreaNameList}" th:value="${object.getFirst()}" th:text="${object.getSecond()}">日本</option>
							</select>
						</div>
						<div class="col-sm-4" th:unless="${#lists.isEmpty(googleCampaignForm.locationList)}">
							<select class="searchable" multiple="multiple" th:field="*{locationList}">
								<option th:each="object : ${T(jp.acepro.reporting.backoffice.service.CodeMasterServiceImpl).googleAreaNameList}" th:selected="${#lists.contains(googleCampaignForm.locationList, object.getFirst())}" th:value="${object.getFirst()}" th:text="${object.getSecond()}">日本</option>
							</select>
						</div>
					</div>
					<br />
					<h4 class="sub-title">広告情報</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">広告タイプ<span class="text-danger">※</span></label>
						<div class="col-sm-4">
							<select class="form-control" th:field="*{adType}">
								<option th:each="object : ${T(jp.acepro.reporting.backoffice.enums.GoogleAdType).values()}" th:selected="${googleCampaignForm.adType == object.getValue()}" th:value="${object.getValue()}" th:text="${object.getLabel()}">全て</option>
							</select>
						</div>
					</div>
					<div id="responsiveAdBlock">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">短い広告見出し<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{resAdShortTitle}" required maxlength="15">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{resAdDescription}" required maxlength="45">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">最終ページURL<span class="text-danger">※</span></label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{resAdFinalPageUrl}" required>
									<option th:each="dspSegmentDto : ${dspSegmentDtoList}" th:selected="${googleCampaignForm.resAdFinalPageUrl} == ${dspSegmentDto.getUrl()}" th:value="${dspSegmentDto.getUrl()}" th:text="${dspSegmentDto.getUrl()}">クリエイティブを選択してください</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="card-block">
								<div class="sub-title">画像アップロード<span class="text-danger">※</span></div>
								<input type="file" multiple th:field="*{resAdImageFileList}" required>
							</div>
						</div>
					</div>
					<div id="imageAdBlock">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">最終ページURL<span class="text-danger">※</span></label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{imageAdFinalPageUrl}" required>
									<option th:each="dspSegmentDto : ${dspSegmentDtoList}" th:selected="${googleCampaignForm.imageAdFinalPageUrl} == ${dspSegmentDto.getUrl()}" th:value="${dspSegmentDto.getUrl()}" th:text="${dspSegmentDto.getUrl()}">クリエイティブを選択してください</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="card-block">
								<div class="sub-title">画像アップロード<span class="text-danger">※</span></div>
								<input type="file" multiple th:field="*{imageAdImageFileList}" required>
							</div>
						</div>
					</div>
					<div id="textAdBlock">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">最終ページURL<span class="text-danger">※</span></label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{textAdFinalPageUrl}" required>
									<option th:each="dspSegmentDto : ${dspSegmentDtoList}" th:selected="${googleCampaignForm.textAdFinalPageUrl} == ${dspSegmentDto.getUrl()}" th:value="${dspSegmentDto.getUrl()}" th:text="${dspSegmentDto.getUrl()}">クリエイティブを選択してください</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し１<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textAdTitle1}" required maxlength="15">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し２<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textAdTitle2}" required maxlength="15">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textAdDescription}" required maxlength="45">
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button sec:authorize="hasAuthority('GOOGLE_CAMPAIGN_MANAGE')" class="btn btn-success" type="submit" th:formmethod="post" th:formaction="@{/google/createCampaignComplete}">作成</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body">
		<script th:inline="javascript">
			/*<![CDATA[*/
			
		    var nowTemplateId = $('#templateId').val();
	        function refreshVal(){
	        	var googleTemplateDtoList = /*[[${googleTemplateDtoList}]]*/;
	        	var templateId = $('#templateId').val();
	        	var googleTemplateDto = googleTemplateDtoList.find(
	        		function(element) {
	        		    return element.templateId == templateId;
	        		}
	        	);
	        	
	            if(window.confirm('テンプレート「' + googleTemplateDto.templateName + '」を使用してもよろしいですか？\r\nテンプレートが切り替わると、入力内容は変更されます。')) { 
	            	// 確認時の処理
	            	nowTemplateId = $('#templateId').val();
	            	// 非表示項目
	            	$("#unitPriceType").val(googleTemplateDto.unitPriceType);
	            	$("#templateName").val(googleTemplateDto.templateName);
	            	// 表示項目
	            	$("#campaignName").val(googleTemplateDto.campaignName);
	            	$("#budget").val(googleTemplateDto.budget);
	            	$("#deviceType").val(googleTemplateDto.deviceType);
	            	$("#locationList").val(googleTemplateDto.locationList);
	            	$('#locationList').multiSelect('refresh');
	            	$("#adType").val(googleTemplateDto.adType);
	            	$("#resAdShortTitle").val(googleTemplateDto.resAdShortTitle);
	            	$("#resAdDescription").val(googleTemplateDto.resAdDescription);
	            	$("#resAdFinalPageUrl").val(googleTemplateDto.resAdFinalPageUrl);
	            	$("#imageAdFinalPageUrl").val(googleTemplateDto.imageAdFinalPageUrl);
	            	$("#textAdFinalPageUrl").val(googleTemplateDto.textAdFinalPageUrl);
	            	$("#textAdTitle1").val(googleTemplateDto.textAdTitle1);
	            	$("#textAdTitle2").val(googleTemplateDto.textAdTitle2);
	            	$("#textAdDescription").val(googleTemplateDto.textAdDescription);
	            	changeAdBlcok();
	            } else { 
	            	// キャンセル時の処理
		            $('#templateId').val(nowTemplateId); // 処理中止
	            }
	        }

			/*]]>*/
		</script>
		<script th:inline="javascript">
			/*<![CDATA[*/

			var responsiveAd = /*[[${T(jp.acepro.reporting.backoffice.enums.GoogleAdType).RESPONSIVE.getValue()}]]*/
			var imageAd = /*[[${T(jp.acepro.reporting.backoffice.enums.GoogleAdType).IMAGE.getValue()}]]*/
			var textAd = /*[[${T(jp.acepro.reporting.backoffice.enums.GoogleAdType).TEXT.getValue()}]]*/
			
			// 広告タイプの選択により、表示内容を切り替える
			$(document).ready(function() {
				$('[name="adType"]').change(function() {
				    changeAdBlcok();
				});
			});

				// 広告タイプの設定値により、表示内容を切り替える
			$(document).ready(function() {
				changeAdBlcok();
			});
				
			// 表示内容を切り替える
			function changeAdBlcok() {
				var val = $('[name="adType"]').val();
				switch (val) {
				case responsiveAd:
					$('[id=responsiveAdBlock]').fadeIn();
					$('[id=resAdShortTitle]').prop("required", true);
					$('[id=resAdDescription]').prop("required", true);
					$('[id=resAdFinalPageUrl]').prop("required", true);
					$('[id=resAdImageFileList]').prop("required", true);
					
					$('[id=imageAdBlock]').hide();
					$('[id=imageAdFinalPageUrl]').prop("required", false);
					$('[id=imageAdImageFileList]').prop("required", false);
					
					$('[id=textAdBlock]').hide();
					$('[id=textAdFinalPageUrl]').prop("required", false);
					$('[id=textAdTitle1]').prop("required", false);
					$('[id=textAdTitle2]').prop("required", false);
					$('[id=textAdDescription]').prop("required", false);
					break;
				case imageAd:
					$('[id=responsiveAdBlock]').hide();
					$('[id=resAdShortTitle]').prop("required", false);
					$('[id=resAdDescription]').prop("required", false);
					$('[id=resAdFinalPageUrl]').prop("required", false);
					$('[id=resAdImageFileList]').prop("required", false);
					
					$('[id=imageAdBlock]').fadeIn();
					$('[id=imageAdFinalPageUrl]').prop("required", true);
					$('[id=imageAdImageFileList]').prop("required", true);
					
					$('[id=textAdBlock]').hide();
					$('[id=textAdFinalPageUrl]').prop("required", false);
					$('[id=textAdTitle1]').prop("required", false);
					$('[id=textAdTitle2]').prop("required", false);
					$('[id=textAdDescription]').prop("required", false);
					break;
				case textAd:
					$('[id=responsiveAdBlock]').hide();
					$('[id=resAdShortTitle]').prop("required", false);
					$('[id=resAdDescription]').prop("required", false);
					$('[id=resAdFinalPageUrl]').prop("required", false);
					$('[id=resAdImageFileList]').prop("required", false);
					
					$('[id=imageAdBlock]').hide();
					$('[id=imageAdFinalPageUrl]').prop("required", false);
					$('[id=imageAdImageFileList]').prop("required", false);
					
					$('[id=textAdBlock]').fadeIn();
					$('[id=textAdFinalPageUrl]').prop("required", true);
					$('[id=textAdTitle1]').prop("required", true);
					$('[id=textAdTitle2]').prop("required", true);
					$('[id=textAdDescription]').prop("required", true);
					break;
				}
			}
			
			/*]]>*/
		</script>
		<script type="text/javascript"> 
	        //配信開始日、終了日のを過去に選択できない
	        $(function(){
	        	 var toDay = new Date();
		            var year = toDay.getFullYear();
		            var month = toDay.getMonth()+1 < 10 ? "0"+(toDay.getMonth()+1) : (toDay.getMonth()+1);
		            var day = toDay.getDate() < 10 ? "0"+toDay.getDate() : toDay.getDate();
		            $("#startDate").attr("min",year+"-"+month+"-"+day);
		            $("#endDate").attr("min",year+"-"+month+"-"+day);
	        });
        </script>
	</div>
</body>
</html>