<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-google bg-googleplus"></i>
						<div class="d-inline">
							<h4>Google広告 案件一覧</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form th:action="@{/}" method="post">
			<div class="card">
				<div class="card-block">
					<div class="dt-responsive table-responsive">
						<input type="hidden" class="js-single">
						<table id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%;">
							<thead>
								<tr>
									<th>ステータス</th>
									<th>審査状況</th>
									<th>案件ID</th>
									<th>案件名</th>
									<th>広告タイプ</th>
									<th>配信開始日</th>
									<th>配信終了日</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ステータス</th>
									<th>審査状況</th>
									<th>案件ID</th>
									<th>案件名</th>
									<th>広告タイプ</th>
									<th>配信開始日</th>
									<th>配信終了日</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="campaign : ${googleCampaignInfoDtoList}">
									<td><label hidden="hidden" th:text="${campaign.campaignId}"></label> <input type="checkbox" class="js-switch" th:checked="${campaign.campaignStatus} == 'ENABLED'" th:disabled="${(campaign.approvalFlag == T(jp.acepro.reporting.backoffice.enums.ApprovalFlag).WAITING.getValue()) && !(T(jp.acepro.reporting.backoffice.util.ContextUtil).hasAuthority('CAMPAIGN_APPROVAL'))}"></td>
									<td th:text="${T(jp.acepro.reporting.backoffice.enums.ApprovalFlag).of(campaign.approvalFlag).getLabel()}">承認待ち</td>
									<td><a th:text="${campaign.campaignId}" th:href="@{/google/detailCampaign(campaignId=${campaign.campaignId})}">00000001</a></td>
									<td th:text="${campaign.campaignName}">キャンペーン１</td>
									<td th:text="${T(jp.acepro.reporting.backoffice.enums.GoogleAdType).of(campaign.adType).getLabel()}">レスポンシブ広告</td>
									<td th:text="${campaign.startDateSlash}">2018/10/01</td>
									<td th:text="${campaign.endDateSlash}">2018/10/31</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Page body end -->
	<div layout:fragment="custom_resource_body">
		<script type="text/javascript">
		
		    // 異常発生フラグを初期化
		    // 毎回スイッチをクリックする前に実行
		    var apiError = false;
		    
			$(":checkbox").change(
				function() {
	
					// 異常発生しない場合、処理を続ける
					// 異常発生した場合は、異常フラグをリセット
					if (apiError) {
						apiError = false;
						return;
					}
					
					// キャンペーンIDを設定
				    var campaignId = $(this).prev().text();
					
					// 動作フラグを設定
				    var switchFlag = "";
					if ($(this).prop('checked')) {
				        switchFlag = "ON"; 　　// OFFにする
					} else {
						switchFlag = "OFF"; // ONにする
					}

					// WEBAPIのURL設定
					var urlStr = "/google/api/"　+ campaignId + "/"　+ switchFlag;
					
					//　審査状況Elementを取得
					var approval = $(this).parent().next();
					
					// スイッチElementを取得
					var checkBox = $(this);
					
					// ステータス更新を実施
					$.ajax({
						url : urlStr,
                        success : function(result) {
                        	
                        	// 審査状況Elementの表示内容を変更
							if (approval.text() == "承認待ち" && switchFlag == "ON") {
								approval.text("承認済み");
				            }
                        	
							//　テーブル内容が即時リフレッシュ
							$("#basicTable").DataTable();
							
							// 正常終了時にアラート表示
							alert("Google広告のステータスが更新されました！");	
                        },
                        error : function(result) {
							
							// Change Functionの無限ループをしないために、、
							//　異常発生時に異常フラグ設定
                        	apiError = true;	
							
							// 異常終了時にアラート表示
							alert("異常発生したため、Google広告のステータスが更新できませんでした！");
							
							// スイッチの状態をクリック前に戻すとともに、
							//　Change Functionを再度発火するため、無限ループになる
							checkBox.click();

                        }
					});
				}
			);
		</script>
	</div>
</body>
</html>