<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-google bg-googleplus"></i>
						<div class="d-inline">
							<h4>Google広告 レポーティング</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form th:action="@{/}" method="post">
			<div class="card">
				<div class="card-block" th:object="${googleReportSearchForm}">
					<h4 class="sub-title">検索条件</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">案件名</label>
						</div>
						<div class="col-sm-4" th:if="${#lists.isEmpty(googleReportSearchForm.campaignIdList)}">
							<select class="searchable" multiple="multiple" th:field="*{campaignIdList}">
								<option th:each="object : ${googleReportSearchForm.campaignPairList}" th:value="${object.getFirst()}" th:text="${object.getSecond()}"></option>
							</select>
						</div>
						<div class="col-sm-4" th:unless="${#lists.isEmpty(googleReportSearchForm.campaignIdList)}">
							<select class="searchable" multiple="multiple" th:field="*{campaignIdList}">
								<option th:each="object : ${googleReportSearchForm.campaignPairList}" th:selected="${#lists.contains(googleReportSearchForm.campaignIdList, object.getFirst())}" th:value="${object.getFirst()}" th:text="${object.getSecond()}"></option>
							</select>
						</div>
					</div>
					<div class="form-radio">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">期間</label>
							<div class="radio radio-inline col-sm-2 col-form-label" th:each="object : ${T(jp.acepro.reporting.backoffice.enums.PeriodSet).values()}">
								<label> <input class="form-control" type="radio" th:value="${object.value}" th:field="*{period}" th:text="${object.label}" checked="checked" required="required"> <i class="helper"></i>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group row" id="search">
						<label class="col-sm-2 col-form-label text-right">開始日</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" th:field="*{startDate}">
						</div>
						<label class="col-sm-2 col-form-label text-right">終了日</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" th:field="*{endDate}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">表示別</label>
						<div class="col-sm-10">
							<button sec:authorize="hasAuthority('GOOGLE_REPORT_VIEW')" class="btn btn-primary" type="submit" th:formmethod="post" th:formaction="@{/google/showDeviceReport}">デバイス別</button>
							<button sec:authorize="hasAuthority('GOOGLE_REPORT_VIEW')" class="btn btn-success" type="submit" th:formmethod="post" th:formaction="@{/google/showLocationReport}">地域別</button>
							<button sec:authorize="hasAuthority('GOOGLE_REPORT_VIEW')" class="btn btn-info" type="submit" th:formmethod="post" th:formaction="@{/google/showDailyReport}">日別</button>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${(reportType != null) && (reportType != '')} ">
				<div class="card">
					<div class="card-block">
						<h4 class="sub-title">グラフ</h4>
						<div id="google_reporting" class="c3"></div>
					</div>
				</div>
				<div class="card">
					<div class="card-block">
						<h4 class="sub-title">データ</h4>
						<div th:if="${reportType} == ${T(jp.acepro.reporting.backoffice.enums.ReportType).DEVICE.getValue()}" class="dt-responsive table-responsive">
							<table id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%;">
								<thead>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>デバイス</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>デバイス</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="googleReportDisplayDto : ${googleReportDisplayDtoList}">
										<td th:text="${googleReportDisplayDto.campaignId}"></td>
										<td th:text="${googleReportDisplayDto.campaignName}"></td>
										<td th:text="${googleReportDisplayDto.deviceName}"></td>
										<td th:text="${googleReportDisplayDto.impressions}+'回'"></td>
										<td th:text="${googleReportDisplayDto.clicks}+'回'"></td>
										<td th:text="${googleReportDisplayDto.costs} + '円'"></td>
										<td th:text="${googleReportDisplayDto.ctr} + '%'"></td>
										<td th:text="${googleReportDisplayDto.cpc}"></td>
										<td th:text="${googleReportDisplayDto.cpm}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div th:if="${reportType} == ${T(jp.acepro.reporting.backoffice.enums.ReportType).REGIONS.getValue()}" class="dt-responsive table-responsive">
							<table id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%;">
								<thead>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>地域</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>地域</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="googleReportDisplayDto : ${googleReportDisplayDtoList}">
										<td th:text="${googleReportDisplayDto.campaignId}"></td>
										<td th:text="${googleReportDisplayDto.campaignName}"></td>
										<td th:text="${googleReportDisplayDto.locationName}"></td>
										<td th:text="${googleReportDisplayDto.impressions}+'回'"></td>
										<td th:text="${googleReportDisplayDto.clicks}+'回'"></td>
										<td th:text="${googleReportDisplayDto.costs} + '円'"></td>
										<td th:text="${googleReportDisplayDto.ctr} + '%'"></td>
										<td th:text="${googleReportDisplayDto.cpc}"></td>
										<td th:text="${googleReportDisplayDto.cpm}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div th:if="${reportType} == ${T(jp.acepro.reporting.backoffice.enums.ReportType).DATE.getValue()}" class="dt-responsive table-responsive">
							<table id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%;">
								<thead>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>日付</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>案件ID</th>
										<th>案件名</th>
										<th>日付</th>
										<th>表示回数</th>
										<th>クリック数</th>
										<th>ご利用金額</th>
										<th>CTR</th>
										<th>CPC</th>
										<th>CPM</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="googleReportDisplayDto : ${googleReportDisplayDtoList}">
										<td th:text="${googleReportDisplayDto.campaignId}"></td>
										<td th:text="${googleReportDisplayDto.campaignName}"></td>
										<td th:text="${googleReportDisplayDto.dateSlash}"></td>
										<td th:text="${googleReportDisplayDto.impressions}+'回'"></td>
										<td th:text="${googleReportDisplayDto.clicks}+'回'"></td>
										<td th:text="${googleReportDisplayDto.costs} + '円'"></td>
										<td th:text="${googleReportDisplayDto.ctr} + '%'"></td>
										<td th:text="${googleReportDisplayDto.cpc}"></td>
										<td th:text="${googleReportDisplayDto.cpm}"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="form-group row" th:if="${reportType} != null">
							<div class="col-sm-12 text-center">
								<button class="btn btn-success" th:formmethod="post" th:formaction="@{/google/download(reportType=${reportType})}">CSVダウンロード</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->
	<div layout:fragment="custom_resource_body">
		<script type="text/javascript" th:inline="javascript">
			window.onload = function() {
				/*<![CDATA[*/
					
				// グラフデータ作成
				var reportType = /*[[${reportType}]]*/
				var DEVICE = /*[[${T(jp.acepro.reporting.backoffice.enums.ReportType).DEVICE.getValue()}]]*/;
				var REGIONS = /*[[${T(jp.acepro.reporting.backoffice.enums.ReportType).REGIONS.getValue()}]]*/;
				var DATE = /*[[${T(jp.acepro.reporting.backoffice.enums.ReportType).DATE.getValue()}]]*/;
				var googleReportGraphDtoList = /*[[${googleReportGraphDtoList}]]*/;
				var reportTypeArr = new Array("x");
				var impressionsArr = new Array("impressions");
				var clicksArr = new Array("clicks");
				var costsArr = new Array("costs");
				var ctrArr = new Array("ctr");
				var cpcArr = new Array("cpc");
				var cpmArr = new Array("cpm");
				googleReportGraphDtoList.forEach(
				    function(obj) {
				    	switch (reportType) {
				    	case DEVICE:
				    		reportTypeArr.push(obj.deviceName);
				    		break;
				    	case REGIONS:
				    		reportTypeArr.push(obj.locationName);
				    		break;
				    	case DATE:
				    		reportTypeArr.push(obj.dateSlash);
				    		break;
				    	}
				    	impressionsArr.push(obj.impressions);
				    	clicksArr.push(obj.clicks);
				    	costsArr.push(obj.costs);
				    	ctrArr.push(obj.ctr);
				    	cpcArr.push(obj.cpc);
				    	cpmArr.push(obj.cpm);
				    }
			    );
				
				// グラフ描画
				var chart = c3.generate({
					bindto : '#google_reporting',
					data : {
						x:'x',
						columns : [
							reportTypeArr,
							impressionsArr,
							clicksArr,
							costsArr,
							ctrArr,
							cpcArr,
							cpmArr
						],
						type : 'bar',
						names : {
							impressions : '表示回数',
							clicks : 'クリック回数',
							costs : 'ご利用金額',
							ctr : 'CTR',
							cpc : 'CPC',
							cpm : 'CPM'
						},
						types : {
							ctr : 'line',
							cpc : 'line',
							cpm : 'line'
						}
					},
					axis: {
						x : {
							type : 'category',
							tick : {
								rotate : -35,
								multiline : true
							},
							height : 80
						}
				    }
					
				});
				/*]]>*/
			}
		</script>
		<script type="text/javascript">
		// 検索期間表示を制御
			$(document).ready(function() {
				if ($('[id=period1]').prop('checked')) {
					$('[id=search]').hide();
				}
				if ($('[id=period2]').prop('checked')) {
					$('[id=search]').show();
				}
			});
			$(document).ready(function() {
				$('[name="period"]:radio').change(function() {
					if ($('[id=period1]').prop('checked')) {
						$('[id=search]').fadeOut();
					}
					if ($('[id=period2]').prop('checked')) {
						$('[id=search]').fadeIn();
					}
				});
			});
		</script>
	</div>
</body>
</html>