<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-google bg-googleplus"></i>
						<div class="d-inline">
							<h4>Google広告 テンプレート更新</h4>
							<strong class="text-danger">※の項目は、必須項目です。</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form th:action="@{/}" method="post" th:object="${googleTemplateForm}" onsubmit="return check('')">
			<div th:replace="common/errorMessages"></div>
			<input type="hidden" th:field="*{templateId}">
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">テンプレート</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">テンプレート名<span class="text-danger">※</span></label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{templateName}" required maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">優先順（小さい数値が優先される）<span class="text-danger">※</span>
						</label>
						<div class="col-sm-4">
							<input type="number" class="form-control" th:field="*{templatePriority}" required min="1">
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">案件</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">案件名</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{campaignName}" maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">日別予算</label>
						<div class="col-sm-2">
							<input type="number" class="form-control" th:field="*{budget}" min="1">
						</div>
						<span class="col-form-label">円</span>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">デバイス</label>
						<div class="col-sm-2">
							<select class="form-control" th:field="*{deviceType}">
								<option th:each="object : ${T(jp.acepro.haishinsan.enums.DeviceType).values()}" th:selected="${googleTemplateForm.deviceType == object.getValue()}" th:value="${object.getValue()}" th:text="${object.getLabel()}">全て</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">地域</label>
						<div class="col-sm-4" th:if="${#lists.isEmpty(googleTemplateForm.locationList)}">
							<select class="searchable" multiple="multiple" th:field="*{locationList}">
								<option th:each="object : ${T(jp.acepro.haishinsan.service.CodeMasterServiceImpl).googleAreaNameList}" th:value="${object.getFirst()}" th:text="${object.getSecond()}">日本</option>
							</select>
						</div>
						<div class="col-sm-4" th:unless="${#lists.isEmpty(googleTemplateForm.locationList)}">
							<select class="searchable" multiple="multiple" th:field="*{locationList}">
								<option th:each="object : ${T(jp.acepro.haishinsan.service.CodeMasterServiceImpl).googleAreaNameList}" th:selected="${#lists.contains(googleTemplateForm.locationList, object.getFirst())}" th:value="${object.getFirst()}" th:text="${object.getSecond()}">日本</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">地域単価タイプ<span class="text-danger">※</span></label>
						<div class="col-sm-4">
							<select class="form-control" th:field="*{unitPriceType}" required>
								<option th:each="object : ${T(jp.acepro.haishinsan.enums.UnitPriceType).values()}" th:selected="${googleTemplateForm.deviceType == object.getValue()}" th:value="${object.getValue()}" th:text="${object.getLabel()}">全て</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">広告タイプ</label>
						<div class="col-sm-4">
							<select class="form-control" th:field="*{adType}">
								<option th:each="object : ${T(jp.acepro.haishinsan.enums.GoogleAdType).values()}" th:selected="${googleTemplateForm.adType == object.getValue()}" th:value="${object.getValue()}" th:text="${object.getLabel()}">全て</option>
							</select>
						</div>
					</div>
					<br />
					<h4 class="sub-title">レスポンシブ広告</h4>
					<div id="advertisementType1">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">短い広告見出し</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{resAdShortTitle}" maxlength="15">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{resAdDescription}" maxlength="45">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">最終ページURL</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{resAdFinalPageUrl}" required>
									<option th:each="dspSegmentDto : ${dspSegmentDtoList}" th:selected="${googleTemplateForm.resAdFinalPageUrl} == ${dspSegmentDto.getUrl()}" th:value="${dspSegmentDto.getUrl()}" th:text="${dspSegmentDto.getUrl()}">クリエイティブを選択してください</option>
								</select>
							</div>
						</div>
					</div>
					<br />
					<h4 class="sub-title">イメージ広告</h4>
					<div id="advertisementType2">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">最終ページURL</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{imageAdFinalPageUrl}" required>
									<option th:each="dspSegmentDto : ${dspSegmentDtoList}" th:selected="${googleTemplateForm.imageAdFinalPageUrl} == ${dspSegmentDto.getUrl()}" th:value="${dspSegmentDto.getUrl()}" th:text="${dspSegmentDto.getUrl()}">クリエイティブを選択してください</option>
								</select>
							</div>
						</div>
					</div>
					<br />
					<h4 class="sub-title">拡張テキスト広告</h4>
					<div id="advertisementType3">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">最終ページURL</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{textAdFinalPageUrl}" required>
									<option th:each="dspSegmentDto : ${dspSegmentDtoList}" th:selected="${googleTemplateForm.textAdFinalPageUrl} == ${dspSegmentDto.getUrl()}" th:value="${dspSegmentDto.getUrl()}" th:text="${dspSegmentDto.getUrl()}">クリエイティブを選択してください</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し１</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textAdTitle1}" maxlength="15">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し２</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textAdTitle2}" maxlength="15">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textAdDescription}" maxlength="45">
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button sec:authorize="hasAuthority('GOOGLE_TEMPLATE_MANAGE')" class="btn btn-success" type="submit" th:formmethod="post" th:formaction="@{/google/updateTemplateComplete}">更新</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->
	<div layout:fragment="custom_resource_body"></div>
</body>
</html>