<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-user-alt-3 bg-c-lite-green"></i>
						<div class="d-inline">
							<h4>店舗新規作成完了</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div id="info" class="col-sm-24 col-md-24 col-xl-12 alert alert-success background-success">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<i class="icofont icofont-close-line-circled text-white"></i>
			</button>
			<strong>店舗の作成が成功しました!</strong>
		</div>
		<form th:action="@{/shop/list}" method="get">
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">店舗情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗ID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.shopId}">123</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗名</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.shopName}">エースプロ</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">法人ID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.corporationId}">0001</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">法人名</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.corporationName}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">DSPユーザーID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.dspUserId}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">GoogleアカウントID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.googleAccountId}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">FacebookページID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.facebookPageId}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">TwitterアカウントID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.twitterAccountId}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">DSP分配率</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.dspDistributionRatio}+'%'">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">Google分配率</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.googleDistributionRatio}+'%'">法人1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">Facebook分配率</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.facebookDistributionRatio}+'%'">法人1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">Twitter分配率</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.twitterDistributionRatio}+'%'">法人1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">営業審査フラグ</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${T(jp.acepro.haishinsan.enums.SalesCheckFlag).of(__${shopDto.salesCheckFlag}__).label}">法人1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">マージン率</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.marginRatio}+'%'">法人1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗通知メール先</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.shopMailList}">店舗通知メール先</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">営業通知メール先</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${shopDto.salesMailList}">営業通知メール先</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-primary" type="button" sec:authorize="hasAuthority('SHOP_MANAGE')" th:onclick="'window.location.href = \'' + @{/shop/create(corporationId=${shopDto.corporationId})} + '\''">新規の継続</button>
							<button class="btn btn-warning" type="submit" sec:authorize="hasAuthority('SHOP_VIEW')" th:formaction="@{/shop/list}" th:formmethod="get">一覧へ</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
