<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-user-alt-3 bg-c-lite-green"></i>
						<div class="d-inline">
							<h4>店舗新規作成</h4>
							<strong class="text-danger">※の項目は、必須項目です。</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form id="defaultForm" class="form-horizontal"
			th:action="@{/account/shop/createComplete}"
			th:object="${shopInputForm}" method="post"
			onsubmit="return check('')">
			<div th:replace="common/errorMessages"></div>
			<div class="card">
				<div class="card-block">
					<input type="hidden" th:field="*{corporationId}" /> <input
						type="hidden" th:field="*{corporationName}" />
					<h4 class="sub-title">店舗情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">法人ID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{corporationId}">0001</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">法人名</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{corporationName}">法人１</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗名<span
								class="text-danger">※</span></label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="店舗名"
								th:field="*{shopName}" required="required" maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">DSPユーザーID</label>
						</div>
						<div class="col-sm-6">
							<input type="number" class="form-control" placeholder="DSPユーザーID"
								th:field="*{dspUserId}" maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">GoogleアカウントID</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control"
								placeholder="GoogleアカウントID" th:field="*{googleAccountId}"
								maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">FacebookページID</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control"
								placeholder="FacebookページID" th:field="*{facebookPageId}"
								maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">TwitterアカウントID</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control"
								placeholder="TwitterアカウントID" th:field="*{twitterAccountId}"
								maxlength="60">
						</div>
					</div>


					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">営業審査フラグ</label>
						</div>
						<div class="col-sm-6">
							<select name="select" class="form-control"
								th:field="*{salesCheckFlag}" required="required">
								<option
									th:each="object : ${T(jp.acepro.haishinsan.enums.SalesCheckFlag).values()}"
									th:selected="${salesCheckFlag == object.getValue()}"
									th:value="${object.getValue()}" th:text="${object.getLabel()}">--</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">マージン率<span
								class="text-danger">※</span></label>
						</div>
						<div class="col-sm-6">
							<input type="number" class="form-control" placeholder="マージン率"
								th:field="*{marginRatio}" required="required" min="0" max="100">
						</div>
						<span class="col-form-label">%</span>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗通知メール先</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="店舗通知メール先"
								th:field="*{shopMailList}" maxlength="300">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">営業通知メール先</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="営業通知メール先"
								th:field="*{salesMailList}" maxlength="300">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-success" type="submit"
								sec:authorize="hasAuthority('SHOP_MANAGE')"
								th:formaction="@{/account/shop/createComplete}"
								th:formmethod="post">作成</button>
							<button class="btn btn-warning" type="button"
								sec:authorize="hasAuthority('CORPORATION_VIEW')"
								th:onclick="'window.location.href = \'' + @{/account/corporation/detail?corporationId={id}(id=*{corporationId})} + '\''">法人の詳細へ戻る</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
