<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-user-alt-3 bg-c-lite-green"></i>
						<div class="d-inline">
							<h4>店舗情報編集完了</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div id="info"
			class="col-sm-24 col-md-24 col-xl-12 alert alert-success background-success">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<i class="icofont icofont-close-line-circled text-white"></i>
			</button>
			<strong>店舗の編集が成功しました!</strong>
		</div>
		<form action="#" th:action="@{/account/shop/list}" method="get"
			th:object="${shopDto}">
			<div class="card">
				<div class="card-block">

					<h4 class="sub-title">基本情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">法人ID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{corporationId}">0001</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">法人名</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{corporationName}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗ID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{shopId}">0001</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗名</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{shopName}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">DSPユーザーID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{dspUserId}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">GoogleアカウントID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{googleAccountId}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">FacebookページID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{facebookPageId}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">TwitterアカウントID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{twitterAccountId}">1</label>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">営業審査フラグ</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label"
								th:text="${T(jp.acepro.haishinsan.enums.SalesCheckFlag).of(__*{salesCheckFlag}__).label}">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">マージン率</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{marginRatio}+'%'">1</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">店舗通知メール先</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{shopMailList}">店舗通知メール先</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">営業通知メール先</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{salesMailList}">営業通知メール先</label>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-warning"
								 type="submit"
								th:formaction="@{/account/shop/list}" th:formmethod="get">一覧へ</button>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
