<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-social-yahoo bg-c-pink"></i>
						<div class="d-inline">
							<h4>Yahoo広告　アップロード</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">

		<form action="#" th:action="@{/yahoo/csvUploadConfirm}" enctype="multipart/form-data" th:method="post" th:object="${yahooCsvInputForm}">
			<div th:replace="common/errorMessages"></div>
			<div class="card">
				<div class="card-block">
					<div class="">
						<div class="sub-title">
							CSV格式ファイル <strong class="text-danger">※Shift_JIS、UTF-8エンコードのファイルのみをサポートしています。</strong>
						</div>
						<input type="file" class="form-control" accept=".csv" name="csvFile" required="required">
					</div>
					<br>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-success" sec:authorize="hasAuthority('YAHOO_CSV_UPLOAD')" type="submit" th:formaction="@{/yahoo/csvUploadConfirm}" th:formmethod="post">アップロード</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
