<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-social-yahoo bg-c-pink"></i>
						<div class="d-inline">
							<h4>アップロードデータ確認</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">


		<form id="defaultForm" class="form-horizontal" th:object="${yahooCsvInputForm}" th:action="@{/}" method="post">
			<input type="hidden" th:field="*{fileName}">
			<div class="card">
				<div class="card-block">
					<div class="dt-responsive table-responsive">

						<table id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%">
							<thead>
								<tr>
									<th>日</th>
									<th>デバイス名</th>
									<th>都道府県</th>
									<th>市区郡</th>
									<th>行政区</th>
									<th>案件名</th>
									<th>案件タイプ</th>
									<th>広告掲載方式</th>
									<th>インプレッション数</th>
									<th>クリック数</th>
									<th>コスト</th>
									<th>平均掲載順位</th>
									<th>案件ID</th>

								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>日</th>
									<th>デバイス名</th>
									<th>都道府県</th>
									<th>市区郡</th>
									<th>行政区</th>
									<th>案件名</th>
									<th>案件タイプ</th>
									<th>広告掲載方式</th>
									<th>インプレッション数</th>
									<th>クリック数</th>
									<th>コスト</th>
									<th>平均掲載順位</th>
									<th>案件ID</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="yahooCsvBean : *{yahooCsvBeanList}">
									<td th:text="${yahooCsvBean.createDate}"></td>
									<td th:text="${yahooCsvBean.deviceName}"></td>
									<td th:text="${yahooCsvBean.regionName}"></td>
									<td th:text="${yahooCsvBean.cityName}"></td>
									<td th:text="${yahooCsvBean.districtName}"></td>
									<td th:text="${yahooCsvBean.campaignName}"></td>
									<td th:text="${yahooCsvBean.campaignType}"></td>
									<td th:text="${yahooCsvBean.advertisingMethod}"></td>
									<td th:text="${yahooCsvBean.impressionCount}"></td>
									<td th:text="${yahooCsvBean.clickCount}"></td>
									<td th:text="${yahooCsvBean.cost}"></td>
									<td th:text="${yahooCsvBean.avePublishRank}"></td>
									<td th:text="${yahooCsvBean.campaignId}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-12 text-center">
					<button class="btn btn-success" sec:authorize="hasAuthority('YAHOO_CSV_UPLOAD')" type="submit" th:formaction="@{/yahoo/csvUploadComplete}" th:formmethod="post">アップロード</button>
					<button class="btn btn-warning" sec:authorize="hasAuthority('YAHOO_CSV_UPLOAD')" type="submit" th:formaction="@{/yahoo/csvUpload}" th:formmethod="get">戻る</button>
				</div>
			</div>
		</form>
	</div>

	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>

</body>
</html>