<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-social-yahoo label yahoo"></i>
						<div class="d-inline">
							<h4>Yahoo広告 案件依頼作成</h4>
							<strong class="text-danger">※の項目は、必須項目です。</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form id="defaultForm" class="form-horizontal" th:action="@{/yahoo/createIssueComplete}" enctype="multipart/form-data" th:object="${yahooIssueinputForm}" method="post" onsubmit="return check('')">
			<div th:replace="common/errorMessages"></div>
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">基本情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">案件名<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{campaignName}" required="required" maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">予算<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-2">
							<input type="number" class="form-control" th:field="*{budget}" min="1" max="9999999999" required="required">
						</div>
						<span class="col-form-label">円</span>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信開始日<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-2">
							<input type="date" class="form-control" th:field="*{startDate}" required="required">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信終了日<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-2">
							<input type="date" class="form-control" th:field="*{endDate}" required="required">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 text-right">配信地域<span class="text-danger">※</span></label>
						<div class="col-sm-4" th:if="${#lists.isEmpty(yahooIssueinputForm.locationIdList)}">
							<select id="custom-headers" class="searchable" multiple th:field="*{locationIdList}">
								<option th:each="object : ${T(jp.acepro.haishinsan.service.CodeMasterServiceImpl).yahooAreaNameList}" th:value="${object.getFirst()}" th:text="${object.getSecond()}">日本</option>
							</select>
						</div>
						<div class="col-sm-4" th:unless="${#lists.isEmpty(yahooIssueinputForm.locationIdList)}">
							<select id="custom-headers" class="searchable" multiple th:field="*{locationIdList}">
								<option th:each="object : ${T(jp.acepro.haishinsan.service.CodeMasterServiceImpl).yahooAreaNameList}" th:selected="${#lists.contains(yahooIssueinputForm.locationIdList, object.getFirst())}" th:value="${object.getFirst()}" th:text="${object.getSecond()}">日本</option>
							</select>
						</div>
					</div>
					<h4 class="sub-title">広告情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">広告タイプ<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-6">
							<select class="form-control select" th:field="*{advDestination}" required="required" id="advDestination">
								<option th:each="obj : ${T(jp.acepro.haishinsan.enums.AdvDestination).values()}" th:selected="${yahooIssueinputForm.advDestination == obj.value}" th:value="${obj.value}" th:text="${obj.label}"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">デバイス<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-6">
							<select class="form-control select" th:field="*{deviceType}" required="required" id="device">
								<option value="">-- 選択してください --</option>
								<option th:each="obj : ${T(jp.acepro.haishinsan.enums.DeviceType).values()}" th:selected="${yahooIssueinputForm.deviceType == obj.value}" th:value="${obj.value}" th:text="${obj.label}"></option>
							</select>
						</div>
					</div>
					<div id="infeedAdBlock">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">短い広告見出し<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{infeedAdShortTitle}" required="required" maxlength="30">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{infeedAdDescription}" required="required" maxlength="80">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">LP<span class="text-danger">※</span></label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{infeedAdFinalPageUrl}" required="required">
									<option value="">-- 選択してください --</option>
									<option th:each="segment : *{segmentList}" th:selected="${yahooIssueinputForm.infeedAdFinalPageUrl == segment.getSecond()}" th:value="${segment.getSecond()}" th:text="${segment.getSecond()}">クリエイティブを選択してください</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="card-block">
								<div class="sub-title">画像アップロード<span class="text-danger">※</span></div>
								<input type="file" multiple th:field="*{infeedAdImageFileList}" required="required">
							</div>
						</div>
					</div>
					<div id="targetAdBlock">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">LP<span class="text-danger">※</span></label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{targetAdFinalPageUrl}" required="required">
									<option value="">-- 選択してください --</option>
									<option th:each="segment : *{segmentList}" th:selected="${yahooIssueinputForm.targetAdFinalPageUrl == segment.getSecond()}" th:value="${segment.getSecond()}" th:text="${segment.getSecond()}">クリエイティブを選択してください</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="card-block">
								<div class="sub-title">画像アップロード<span class="text-danger">※</span></div>
								<input type="file" multiple th:field="*{targetAdImageFileList}" required="required">
							</div>
						</div>
					</div>
					<div id="listingAdBlock">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">LP<span class="text-danger">※</span></label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{listingAdFinalPageUrl}" required="required">
									<option value="">-- 選択してください --</option>
									<option th:each="segment : *{segmentList}" th:selected="${yahooIssueinputForm.listingAdFinalPageUrl == segment.getSecond()}" th:value="${segment.getSecond()}" th:text="${segment.getSecond()}">クリエイティブを選択してください</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し１<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{listingAdTitle1}" required="required" maxlength="30">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し２<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{listingAdTitle2}" required="required" maxlength="30">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{listingAdDescription}" required="required" maxlength="80">
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-10 text-center">
							<button class="btn btn-success" type="submit" sec:authorize="hasAuthority('YAHOO_CAMPAIGN_REQUEST')" th:formaction="@{/yahoo/issueCreateComplete}" th:formmethod="post">作成</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body">
		<script>
			window.onload = function() {
				//配信日の設定、過去は選択できないにする
				$(function() {
					var toDay = new Date();
					var year = toDay.getFullYear();
					var month = toDay.getMonth() + 1 < 10 ? "0"
							+ (toDay.getMonth() + 1) : (toDay.getMonth() + 1);
					var day = toDay.getDate() < 10 ? "0" + toDay.getDate()
							: toDay.getDate();
					$("#startDate").attr("min", year + "-" + month + "-" + day);
					$("#endDate").attr("min", year + "-" + month + "-" + day);
				});
			}
		</script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var infeed = /*[[${T(jp.acepro.haishinsan.enums.AdvDestination).RESPONSIVE.getValue()}]]*/

			// 広告タイプの選択により、表示内容を切り替える
			$(document).ready(function() {
				$('[id="advDestination"]').change(function() {
					changeOptions();
				});
			});
			// 広告タイプの設定値により、表示内容を切り替える
			$(document).ready(function() {
				changeOptions();
			});
			// 選択項目のリセット
			function changeOptions() {
				// 選択した値
				var val = $('[id="advDestination"]').val();
				if (val === infeed) {
					$('#device').val('02');
					$('#device').prop("disabled", true);
				} else {
					$('#device').prop("disabled", false);
				}
			}
			/*]]>*/
		</script>
		<script th:inline="javascript">
			/*<![CDATA[*/

			var infeedAd = /*[[${T(jp.acepro.haishinsan.enums.AdvDestination).RESPONSIVE.getValue()}]]*/
			var targetAd = /*[[${T(jp.acepro.haishinsan.enums.AdvDestination).IMAGE.getValue()}]]*/
			var listingAd = /*[[${T(jp.acepro.haishinsan.enums.AdvDestination).LISTING.getValue()}]]*/
			
			// 広告タイプの選択により、表示内容を切り替える
			$(document).ready(function() {
				$('[name="advDestination"]').change(function() {
				    changeAdBlcok();
				});
			});

				// 広告タイプの設定値により、表示内容を切り替える
			$(document).ready(function() {
				changeAdBlcok();
			});
				
			// 表示内容を切り替える
			function changeAdBlcok() {
				var val = $('[name="advDestination"]').val();
				switch (val) {
				case infeedAd:
					$('[id=infeedAdBlock]').fadeIn();
					$('[id=infeedAdShortTitle]').prop("required", true);
					$('[id=infeedAdDescription]').prop("required", true);
					$('[id=infeedAdFinalPageUrl]').prop("required", true);
					$('[id=infeedAdImageFileList]').prop("required", true);
					
					$('[id=targetAdBlock]').hide();
					$('[id=targetAdFinalPageUrl]').prop("required", false);
					$('[id=targetAdImageFileList]').prop("required", false);
					
					$('[id=listingAdBlock]').hide();
					$('[id=listingAdFinalPageUrl]').prop("required", false);
					$('[id=listingAdTitle1]').prop("required", false);
					$('[id=listingAdTitle2]').prop("required", false);
					$('[id=listingAdDescription]').prop("required", false);
					break;
				case targetAd:
					$('[id=infeedAdBlock]').hide();
					$('[id=infeedAdShortTitle]').prop("required", false);
					$('[id=infeedAdDescription]').prop("required", false);
					$('[id=infeedAdFinalPageUrl]').prop("required", false);
					$('[id=infeedAdImageFileList]').prop("required", false);
					
					$('[id=targetAdBlock]').fadeIn();
					$('[id=targetAdFinalPageUrl]').prop("required", true);
					$('[id=targetAdImageFileList]').prop("required", true);
					
					$('[id=listingAdBlock]').hide();
					$('[id=listingAdFinalPageUrl]').prop("required", false);
					$('[id=listingAdTitle1]').prop("required", false);
					$('[id=listingAdTitle2]').prop("required", false);
					$('[id=listingAdDescription]').prop("required", false);
					break;
				case listingAd:
					$('[id=infeedAdBlock]').hide();
					$('[id=infeedAdShortTitle]').prop("required", false);
					$('[id=infeedAdDescription]').prop("required", false);
					$('[id=infeedAdFinalPageUrl]').prop("required", false);
					$('[id=infeedAdImageFileList]').prop("required", false);
					
					$('[id=targetAdBlock]').hide();
					$('[id=targetAdFinalPageUrl]').prop("required", false);
					$('[id=targetAdImageFileList]').prop("required", false);
					
					$('[id=listingAdBlock]').fadeIn();
					$('[id=listingAdFinalPageUrl]').prop("required", true);
					$('[id=listingAdTitle1]').prop("required", true);
					$('[id=listingAdTitle2]').prop("required", true);
					$('[id=listingAdDescription]').prop("required", true);
					break;
				}
			}
			
			/*]]>*/
		</script>
	</div>
</body>
</html>
