<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-user-alt-3 bg-c-lite-green"></i>
						<div class="d-inline">
							<h4>Yahoo広告 案件削除完了</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div id="info" class="col-sm-24 col-md-24 col-xl-12 alert alert-success background-success">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<i class="icofont icofont-close-line-circled text-white"></i>
			</button>
			<strong>Yahoo案件依頼の削除が成功しました!</strong>
		</div>
		<form th:action="@{/yahoo/yahooList}" method="get" th:object="${yahooIssueDto}">
			<div th:replace="common/errorMessages"></div>
			<input type="hidden" th:field="*{issueId}" />
			<div class="form-group row">
				<div class="col-sm-12 text-right"></div>
			</div>
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">案件情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">案件ID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{issueId}">123</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">Yahoo広告ID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${#strings.isEmpty(yahooIssueDto.campaignId)} ? '--' : ${yahooIssueDto.campaignId}">12345</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">案件名</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{campaignName}"></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">予算</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{budget} + '円'">1000円</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信開始日</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{startDate}">2018/10/10</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信終了日</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{endDate}">2018/10/10</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信地域</label>
						</div>
						<div class="col-sm-8">
							<ul class="col-form-label" th:remove="all-but-first" th:each="yahooLocationDto : *{locationList}">
								<li th:text="${yahooLocationDto.locationName}">東京</li>
							</ul>
						</div>
					</div>
					<h4 class="sub-title">広告情報</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">広告タイプ</label>
						<div class="col-sm-4 col-form-label">
							<label id="adType" th:text="${T(jp.acepro.haishinsan.enums.AdvDestination).of(__${yahooIssueDto.advDestination}__).getLabel()}">レスポンシブ広告</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">デバイス</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${T(jp.acepro.haishinsan.enums.DeviceType).of(yahooIssueDto.deviceType).getLabel()}">モバイル</label>
						</div>
					</div>
					<div th:if="${yahooIssueDto.advDestination == T(jp.acepro.haishinsan.enums.AdvDestination).RESPONSIVE.getValue()}">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">短い広告見出し</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{adShortTitle}">MacBook Pro</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{adDescription}">新しいパソコンが発売</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">LP</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{url}">https://www.apple.com/macbook</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">画像ファイル</label>
							<div class="col-sm-8">
								<ul class="col-form-label" th:remove="all-but-first" th:each="imageName : *{imageNameList}">
									<li th:text="${imageName}">test.jpg</li>
								</ul>
							</div>
						</div>
					</div>
					<div th:if="${yahooIssueDto.advDestination == T(jp.acepro.haishinsan.enums.AdvDestination).IMAGE.getValue()}">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">LP</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{url}">https://www.apple.com/macbook</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">画像ファイル</label>
							<div class="col-sm-8">
								<ul class="col-form-label" th:remove="all-but-first" th:each="imageName : *{imageNameList}">
									<li th:text="${imageName}">test.jpg</li>
								</ul>
							</div>
						</div>
					</div>
					<div th:if="${yahooIssueDto.advDestination == T(jp.acepro.haishinsan.enums.AdvDestination).LISTING.getValue()}">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">LP</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{url}">https://www.apple.com/macbook</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し１</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{adTitle1}">MacBook Pro広告見出し１</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し２</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{adTitle2}">MacBook Pro広告見出し２</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{adDescription}">MacBook Pro説明文</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-12 text-center">
					<button class="btn btn-warning" sec:authorize="hasAuthority('YAHOO_CAMPAIGN_VIEW')" type="submit" th:formaction="@{/yahoo/issueList}" th:formmethod="get">一覧へ</button>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
