<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-user-alt-3 bg-c-lite-green"></i>
						<div class="d-inline">
							<h4>代理店新規作成</h4>
							<strong class="text-danger">※の項目は、必須項目です。</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form id="defaultForm" class="form-horizontal" th:action="@{/agency/createComplete}" method="post" th:object="${agencyInputForm}" onsubmit="return check('')">
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">代理店情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">代理店名<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="agencyName" placeholder="代理店名" required="required" maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-success" sec:authorize="hasAuthority('AGENCY_MANAGE')" type="submit" th:formaction="@{/agency/createComplete}" th:formmethod="post">作成</button>
							<button type="button" class="btn btn-warning" sec:authorize="hasAuthority('AGENCY_VIEW')" th:onclick="'window.location.href = \'' + @{/agency/list} + '\''">一覧へ</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>