<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="icofont icofont-user-alt-3 bg-c-lite-green"></i>
						<div class="d-inline">
							<h4>代理店情報編集</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form action="#" th:action="@{/account/agency/updateComplete}" method="post" th:object="${agencyInputForm}" onsubmit="return check('')">
			<div class="card">
				<div class="card-block">
					<input type="hidden" th:field="*{agencyId}"/>
					<h4 class="sub-title">基本情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">代理店ID</label>
						</div>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{agencyId}" >0001</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">代理店名</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{agencyName}" required="required"></input>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-success" sec:authorize="hasAuthority('AGENCY_UPDATE')" type="submit" th:formaction="@{/account/agency/updateComplete}" th:formmethod="post">確認</button>
							<button type="button" class="btn btn-warning" th:onclick="'window.location.href = \'' + @{/account/agency/detail?agencyId={id}(id=*{agencyId})} + '\''">詳細へ戻る</button>
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>