<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<head>
<style>
.button-wrap ul {
	display: flex;
	flex-direction: column;
}

.button-wrap li {
	width: 300px;
	margin: 20px auto;
	text-align: center;
	background: #6382c7;
	border-radius: 5px;
	padding: 20px 0;
	color: white !important;
	font-weight: bold;
}
</style>
</head>
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">

		<div class="card">
			<div class="button-wrap">
				<ul class="breadcrumb-title">
					<li><a style="color: white" class="button-link"
						th:href="@{/campaign/mediaSelection}">広告を配信する</a></li>
					<li><a style="color: white" class="button-link"
						th:href="@{/issue/issues/issueList}">配信レポートを見る</a></li>
					<li><a style="color: white" class="button-link"
						href="https://s3-ap-northeast-1.amazonaws.com/haishinsan/manual.pdf"
						target="_blank"> マニュアルをみる</a></li>
				</ul>
			</div>
		</div>
	</div>

</body>

</html>
