<head>
<style type="text/css">
/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
	display: block !important;
}

.sp {
	display: none !important;
}
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
	.pc {
		display: none !important;
	}
	.sp {
		display: block !important;
	}
}
</style>
<script>
	window.onload = function() {
		var btn1 = document.getElementById("sp_upload")
		btn1.onclick = function() {
			alert("モバイル端末ではご利用いただけません。PCから操作してください。")
		}
	}
</script>
</head>
<nav class="pcoded-navbar">
	<div class="sidebar_toggle">
		<a href="#"><i class="icon-close icons"></i></a>
	</div>
	<div class="pcoded-inner-navbar main-menu">
		<div class="pcoded-navigatio-lavel">
			現在の店舗<br /> <select class="form-control form-control-primary"
				name="shopSelecter">
				<option
					th:each="obj : ${T(jp.acepro.haishinsan.util.ContextUtil).getShopList()}"
					th:selected="${T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getShopId()==obj.getShopId()}"
					th:value="${obj.getShopId()}" th:text="${obj.getShopName()}">10323
					： 店舗名１</option>
			</select>
		</div>
		<ul class="pcoded-item pcoded-left-item">
			<li sec:authorize="hasAuthority('USER_CREATE')"
				class="pcoded-hasmenu active"><a href="javascript:void(0)">
					<span class="pcoded-micon"><i class="fa fa-users"></i></i><b>N</b></span>
					<span class="pcoded-mtext">アカウント体制管理</span><span
					class="pcoded-mcaret"></span>
			</a>
				<ul class="pcoded-submenu">
					<li  class=" "><a
						th:href="@{/account/agency/list}"> <span class="pcoded-micon"><i
								class="icon-chart"></i></span> <span class="pcoded-mtext">代理店管理</span><span
							class="pcoded-mcaret"></span>
					</a></li>
					<li  class=" "><a
						th:href="@{/account/corporation/list}"> <span
							class="pcoded-micon"><i class="icon-chart"></i></span> <span
							class="pcoded-mtext">法人管理</span><span class="pcoded-mcaret"></span>
					</a></li>
					<li  class=" "><a
						th:href="@{/account/shop/list}"> <span class="pcoded-micon"><i
								class="icon-chart"></i></span> <span class="pcoded-mtext">店舗管理</span><span
							class="pcoded-mcaret"></span>
					</a></li>
					<li  class=" "><a
						th:href="@{/account/user/list}"> <span class="pcoded-micon"><i
								class="icon-chart"></i></span> <span class="pcoded-mtext">ユーザー管理</span><span
							class="pcoded-mcaret"></span>
					</a></li>
				</ul></li>
		</ul>

		<div class="pcoded-navigatio-lavel">広告作成</div>
		<ul class="pcoded-item pcoded-left-item">
			<li sec:authorize="hasAuthority('CAMPAIGN_CREATE_NEW')"
				class="active"><a th:href="@{/campaign/mediaSelection}"><span
					class="pcoded-micon"><i class="ti-crown"></i><b>F</b></span><span
					class="pcoded-mtext">広告作成</span></a></li>
			<li sec:authorize="hasAuthority('UPLOAD_CREATE')" class="active pc"><a th:href="@{/upload/mediaSelection}"><span
					class="pcoded-micon"><i class="ti-palette"></i><b>F</b></span><span
					class="pcoded-mtext">広告物アップロード</span></a></li>
			<li sec:authorize="hasAuthority('UPLOAD_CREATE')" class="active sp" id="sp_upload"><a class="disabled"
				href="#"><span class="pcoded-micon"><i class="ti-palette"></i><b>F</b></span><span
					class="pcoded-mtext">広告物アップロード</span></a></li>
		</ul>
		<div sec:authorize="hasAuthority('ISSUE_LIST')" class="pcoded-navigatio-lavel">案件管理</div>
		<ul class="pcoded-item pcoded-left-item">
			<li sec:authorize="hasAuthority('ISSUE_LIST')"
				class="active"><a th:href="@{/issue/issues/issueList}"><span
					class="pcoded-micon"><i class="ti-eye"></i><b>F</b></span><span
					class="pcoded-mtext">案件一覧</span></a></li>
			<li sec:authorize="hasAuthority('SEGMENT_REPORT_VIEW')"
				class="active"><a th:href="@{/link/segment/segmentReporting}"><span
					class="pcoded-micon"><i class="ti-world"></i><b>F</b></span><span
					class="pcoded-mtext">分析レポート</span></a></li>
			<ul class="pcoded-submenu">
			</ul>
			</li>

			<div class="pcoded-navigatio-lavel">設定</div>
			<ul class="pcoded-item pcoded-left-item">
				<li sec:authorize="hasAuthority('SETTING_PROVISION')" class="active"><a
					href="https://s3-ap-northeast-1.amazonaws.com/haishinsan/manual.pdf"
					target="_blank"><span class="pcoded-micon"><i
							class="ti-eye"></i><b>F</b></span><span class="pcoded-mtext">マニュアル</span></a></li>
				<li sec:authorize="hasAuthority('SETTING_PROVISION')" class="active"><a
					href="https://s3-ap-northeast-1.amazonaws.com/haishinsan/provision.pdf"
					target="_blank"><span class="pcoded-micon"><i
							class="ti-crown"></i><b>F</b></span><span class="pcoded-mtext">入稿規定</span></a></li>
			</ul>
			<ul class="pcoded-item pcoded-left-item">
				<li class="pcoded-hasmenu active"><a href="javascript:void(0)"><span
						class="pcoded-micon"><i class="ti-star"
							style="color: #FC6180"></i><b>F</b></span><span class="pcoded-mtext">リンク先管理</span><span
						class="pcoded-mcaret"></span></a>
					<ul class="pcoded-submenu">
						<li sec:authorize="hasAuthority('SETTING_PROVISION')" class=" "><a
							th:href="@{/link/segment/createSegment}"> <span
								class="pcoded-micon"><i class="ti-angle-right"></i></span> <span
								class="pcoded-mtext">新規作成</span> <span class="pcoded-mcaret"></span>
						</a></li>
						<li sec:authorize="hasAuthority('SETTING_PROVISION')" class=" "><a
							th:href="@{/link/segment/segmentList}"> <span
								class="pcoded-micon"><i class="ti-angle-right"></i></span> <span
								class="pcoded-mtext">一覧</span> <span class="pcoded-mcaret"></span>
						</a></li>
					</ul></li>
			</ul>
			<ul class="pcoded-item pcoded-left-item"  sec:authorize="hasAuthority('TEMPLATE_LIST')">
				<li class="pcoded-hasmenu active"><a href="javascript:void(0)"><span
						class="pcoded-micon"><i class="ti-world"></i><b>F</b></span><span
						class="pcoded-mtext">テンプレート設定</span><span class="pcoded-mcaret"></span></a>
					<ul class="pcoded-submenu">
						<li class="pcoded-hasmenu active"
							th:if="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getDspUserId())}"><a
							href="javascript:void(0)"><span class="pcoded-micon"><i
									class="fa fa-envira" style="color: #73993a"></i><b>F</b></span><span
								class="pcoded-mtext">ファンへの配信</span><span class="pcoded-mcaret"></span></a>
							<ul class="pcoded-submenu">
								<li sec:authorize="hasAuthority('TEMPLATE_LIST')"
									class=" "><a th:href="@{/template/dsp/createTemplate}"><span
										class="pcoded-micon"><i class="icon-chart"　></i></span><span
										class="pcoded-mtext">新規作成</span><span class="pcoded-mcaret"></span>
								</a></li>
								<li sec:authorize="hasAuthority('TEMPLATE_LIST')" class=" "><a
									th:href="@{/template/dsp/templateList}"><span
										class="pcoded-micon"><i class="icon-chart"></i></span><span
										class="pcoded-mtext">一覧</span><span class="pcoded-mcaret"></span>
								</a></li>
							</ul></li>
						<li class="pcoded-hasmenu active"
							th:if="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getGoogleAccountId())}"><a
							href="javascript:void(0)"> <span class="pcoded-micon"><i
									class="fa fa-google" style="color: #DD4B39"></i><b>F</b></span> <span
								class="pcoded-mtext">Google</span> <span class="pcoded-mcaret"></span></a>
							<ul class="pcoded-submenu">
								<li sec:authorize="hasAuthority('GOOGLE_TEMPLATE_MANAGE')"
									class=" "><a th:href="@{/template/google/createTemplate}">
										<span class="pcoded-micon"><i class="icon-chart"></i></span> <span
										class="pcoded-mtext">新規作成</span><span class="pcoded-mcaret"></span>
								</a></li>
								<li sec:authorize="hasAuthority('GOOGLE_TEMPLATE_VIEW')"
									class=" "><a th:href="@{/template/google/listTemplate}">
										<span class="pcoded-micon"><i class="icon-chart"></i></span> <span
										class="pcoded-mtext">一覧</span><span class="pcoded-mcaret"></span>
								</a></li>
							</ul></li>
						<li class="pcoded-hasmenu active"
							th:if="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getFacebookPageId())}"><a
							href="javascript:void(0)"> <span class="pcoded-micon"><i
									class="fa fa-facebook" style="color: #3c5a99"></i><b>T</b></span> <span
								class="pcoded-mtext" data-i18n="nav.to-do.main">Facebook</span>
								<span class="pcoded-mcaret"></span></a>
							<ul class="pcoded-submenu">
								<li sec:authorize="hasAuthority('FACEBOOK_TEMPLATE_MANAGE')"
									class=" "><a
									th:href="@{/template/facebook/createTemplate}"> <span
										class="pcoded-micon"><i class="icon-chart"></i></span> <span
										class="pcoded-mtext">新規作成</span><span class="pcoded-mcaret"></span>
								</a></li>
								<li sec:authorize="hasAuthority('FACEBOOK_TEMPLATE_VIEW')"
									class=" "><a th:href="@{/template/facebook/templateList}">
										<span class="pcoded-micon"><i class="icon-chart"></i></span> <span
										class="pcoded-mtext">一覧</span><span class="pcoded-mcaret"></span>
								</a></li>
							</ul></li>
						<li class="pcoded-hasmenu active"
							th:if="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getTwitterAccountId())}"><a
							href="javascript:void(0)"> <span class="pcoded-micon"><i
									class="ti-twitter-alt" style="color: #41abe1"></i></span> <span
								class="pcoded-mtext">Twitter</span> <span class="pcoded-mcaret"></span></a>
							<ul class="pcoded-submenu">
								<li sec:authorize="hasAuthority('TWITTER_TEMPLATE_MANAGE')"
									class=" "><a th:href="@{/template/twitter/createTemplate}">
										<span class="pcoded-micon"><i class="icon-chart"></i></span> <span
										class="pcoded-mtext">新規作成</span><span class="pcoded-mcaret"></span>
								</a></li>
								<li sec:authorize="hasAuthority('TWITTER_TEMPLATE_VIEW')"
									class=" "><a th:href="@{/template/twitter/templateList}">
										<span class="pcoded-micon"><i class="icon-chart"></i></span> <span
										class="pcoded-mtext">一覧</span><span class="pcoded-mcaret"></span>
								</a></li>
							</ul></li>
					</ul></li>
			</ul>
		</ul>
		<div class="pcoded-navigatio-lavel"></div>
		<ul class="pcoded-item pcoded-left-item">
			<li class="pcoded-submenu"
				th:if="${not #strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getOldSystemPassword()) and not #strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getOldSystemEmail())}"><a
				href="javascript:login_to_old_system.submit()"> <span
					class="pcoded-micon"><i class="fa fa-internet-explorer"></i><b>FU</b></span>
					<span class="pcoded-mtext" data-i18n="nav.file-upload.main">旧システムへ</span>
					<span class="pcoded-mcaret"></span></a>
				<form action="http://rc.ace-pro.com/account/auth"
					name="login_to_old_system" method="post" target="print_popup"
					onsubmit="window.open('about:blank','print_popup','width=1000,height=800');">
					<input type="hidden" name="email"
						th:value="${T(jp.acepro.haishinsan.util.ContextUtil).getOldSystemEmail()}">
					<input type="hidden" name="password"
						th:value="${T(jp.acepro.haishinsan.util.ContextUtil).getOldSystemPassword()}">
				</form></li>
		</ul>
	</div>
</nav>
