<!-- Required Jquery -->
<script type="text/javascript" src="../files/bower_components/jquery/js/jquery.min.js" th:src="@{/bower_components/jquery/js/jquery.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/jquery-ui/js/jquery-ui.min.js" th:src="@{/bower_components/jquery-ui/js/jquery-ui.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/popper.js/js/popper.min.js" th:src="@{/bower_components/popper.js/js/popper.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/bootstrap/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/js/bootstrap.min.js}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="../files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js" th:src="@{/bower_components/jquery-slimscroll/js/jquery.slimscroll.js}"></script>
<!-- modernizr js -->
<script type="text/javascript" src="../files/bower_components/modernizr/js/modernizr.js" th:src="@{/bower_components/modernizr/js/modernizr.js}"></script>
<script type="text/javascript" src="../files/bower_components/modernizr/js/css-scrollbars.js" th:src="@{/bower_components/modernizr/js/css-scrollbars.js}"></script>
<!--classic JS-->
<script type="text/javascript" src="../files/assets/js/classie.js" th:src="@{/js/classie.js}"></script>
<!-- am chart -->
<script src="../files/assets/pages/widget/amchart/amcharts.min.js" th:src="@{/pages/widget/amchart/amcharts.min.js}"></script>
<script src="../files/assets/pages/widget/amchart/serial.min.js" th:src="@{/pages/widget/amchart/serial.min.js}"></script>
<!-- Chart js -->
<script type="text/javascript" src="../files/bower_components/chart.js/js/Chart.js" th:src="@{/bower_components/chart.js/js/Chart.js}"></script>
<!-- Todo js -->
<script type="text/javascript" src="../files/assets/pages/todo/todo.js " th:src="@{/pages/todo/todo.js}"></script>

<!-- Custom js -->
<script type="text/javascript" src="../files/assets/pages/advance-elements/select2-custom.js" th:src="@{/pages/advance-elements/select2-custom.js}"></script>
<script type="text/javascript" src="../files/assets/pages/dashboard/custom-dashboard.min.js" th:src="@{/pages/dashboard/custom-dashboard.min.js}"></script>
<script type="text/javascript" src="../files/assets/js/SmoothScroll.js" th:src="@{/js/SmoothScroll.js}"></script>
<script src="../files/assets/js/pcoded.min.js" th:src="@{/js/pcoded.min.js}"></script>
<script src="../files/assets/js/demo-12.js" th:src="@{/js/demo-12.js}"></script>
<script src="../files/assets/js/jquery.mCustomScrollbar.concat.min.js" th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<script type="text/javascript" src="../files/assets/js/script.min.js" th:src="@{/js/script.min.js}"></script>
<script type="text/javascript" src="../files/assets/pages/icon-modal.js" th:src="@{/pages/icon-modal.js}"></script>
<script type="text/javascript" src="../files/bower_components/lightgallery/js/lg-pager.min.js" th:src="@{/bower_components/datatables.net/js/customJs.js}"></script>
<script type="text/javascript" src="../files/assets/pages/data-table/js/data-table-custom.js" th:src="@{/pages/data-table/js/data-table-custom.js}"></script>
<script type="text/javascript" src="../files/assets/pages/data-table/extensions/autofill/js/extensions-custom.js" th:src="@{/pages/data-table/extensions/autofill/js/extensions-custom.js}"></script>
<script type="text/javascript" src="../files/assets/custom.js" th:src="@{/js/custom.js}"></script>
<!-- c3 chart js -->
<script type="text/javascript" src="../files/bower_components/d3/js/d3.min.js" th:src="@{/bower_components/d3/js/d3.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/c3/js/c3.js" th:src="@{/bower_components/c3/js/c3.js}"></script>
<!-- Handson table js -->
<script type="text/javascript" src="../files/assets/pages/store-js/moment.js" th:src="@{/pages/store-js/moment.js}"></script>
<script type="text/javascript" src="../files/bower_components/handsontable/js/handsontable.full.js" th:src="@{/bower_components/handsontable/js/handsontable.full.js}"></script>
<script type="text/javascript" src="../files/bower_components/handsontable/js/de.js" th:src="@{/bower_components/handsontable/js/de.js}"></script>
<!-- data-table js -->
<script type="text/javascript" src="../files/bower_components/datatables.net/js/jquery.dataTables.min.js" th:src="@{/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js" th:src="@{/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
<script type="text/javascript" src="../files/assets/pages/data-table/js/jszip.min.js" th:src="@{/pages/data-table/js/jszip.min.js}"></script>
<script type="text/javascript" src="../files/assets/pages/data-table/js/pdfmake.min.js" th:src="@{/pages/data-table/js/pdfmake.min.js}"></script>
<script type="text/javascript" src="../files/assets/pages/data-table/js/vfs_fonts.js" th:src="@{/pages/data-table/js/vfs_fonts.js}"></script>
<script type="text/javascript" src="../files/assets/pages/data-table/extensions/autofill/js/dataTables.autoFill.min.js" th:src="@{/pages/data-table/extensions/autofill/js/dataTables.autoFill.min.js}"></script>
<script type="text/javascript" src="../files/assets/pages/data-table/extensions/autofill/js/dataTables.select.min.js" th:src="@{/pages/data-table/extensions/autofill/js/dataTables.select.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/datatables.net-buttons/js/buttons.print.min.js" th:src="@{/bower_components/datatables.net-buttons/js/buttons.print.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/datatables.net-buttons/js/buttons.html5.min.js" th:src="@{/bower_components/datatables.net-buttons/js/buttons.html5.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js" th:src="@{/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js" th:src="@{/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js" th:src="@{/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>
<!-- Tags js -->
<script type="text/javascript" src="../files/bower_components/bootstrap-tagsinput/js/bootstrap-tagsinput.js" th:src="@{/bower_components/bootstrap-tagsinput/js/bootstrap-tagsinput.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
<!-- Multiselect js -->
<script type="text/javascript" src="../files/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js" th:src="@{/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js}"></script>
<script type="text/javascript" src="../files/bower_components/multiselect/js/jquery.multi-select.js" th:src="@{/bower_components/multiselect/js/jquery.multi-select.js}"></script>
<script type="text/javascript" src="../files/assets/js/jquery.quicksearch.js" th:src="@{/js/jquery.quicksearch.js}"></script>
<!-- Select 2 js -->
<script type="text/javascript" src="../files/bower_components/select2/js/select2.full.min.js" th:src="@{/bower_components/select2/js/select2.full.min.js}"></script>
<!-- Switch component js -->
<script type="text/javascript" src="../files/bower_components/switchery/js/switchery.min.js" th:src="@{/bower_components/switchery/js/switchery.min.js}"></script>
<script type="text/javascript" src="../files/assets/pages/advance-elements/swithces.js" th:src="@{/pages/advance-elements/swithces.js}"></script>
<!-- jquery file upload js -->
<script type="text/javascript" src="../files/assets/pages/jquery.filer/js/jquery.filer.min.js" th:src="@{/pages/jquery.filer/js/jquery.filer.min.js}"></script>
<script type="text/javascript" src="../files/assets/pages/filer/custom-filer.js" th:src="@{/pages/filer/custom-filer.js}"></script>
<script type="text/javascript" src="../files/assets/pages/filer/jquery.fileuploads.init.js" th:src="@{/pages/filer/jquery.fileuploads.init.js}"></script>
<!-- i18next.min.js -->
<script type="text/javascript" src="../files/bower_components/i18next/js/i18next.min.js" th:src="@{/bower_components/i18next/js/i18next.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js" th:src="@{/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js" th:src="@{/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js}"></script>
<script type="text/javascript" src="../files/bower_components/jquery-i18next/js/jquery-i18next.min.js" th:src="@{/bower_components/jquery-i18next/js/jquery-i18next.min.js}"></script>
<script type="text/javascript" src="../files/assets/js/common-pages.js" th:src="@{/js/common-pages.js}"></script>
