<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-envira bg-c-blue"></i>
						<div class="d-inline">
							<h4>ファンへの配信広告　詳細</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div class="card">
			<div class="card-block">
				<h4 class="sub-title">基本情報</h4>
				<form th:action="@{/dsp/campaignDelete(campaignId=${dspCampaignDetailDto.campaignId})}" method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">案件ID</label>
						<div class="col-sm-4">
							<label class="col-form-label" th:text="${dspCampaignDetailDto.campaignId}">DSPキャンペーンテスト</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">案件名</label>
						<div class="col-sm-4">
							<label class="col-form-label" th:text="${dspCampaignDetailDto.campaignName}">DSPキャンペーンテスト</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信開始日</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="${dspCampaignDetailDto.startDatetime}">2018-09-16</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信終了日</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="${dspCampaignDetailDto.endDatetime}">2018-10-16</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">総予算</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="${dspCampaignDetailDto.budget}">50,000円</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">デバイス</label>
						<div class="col-sm-1">
							<label class="col-form-label" th:text="${T(jp.acepro.haishinsan.enums.DspDeviceType).of(__${dspCampaignDetailDto.device}__).label}">50,000円</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">ステータス</label>
						<div class="col-sm-1">
							<label class="col-form-label" th:text="${T(jp.acepro.haishinsan.enums.SegmentFlag).of(__${dspCampaignDetailDto.status}__).label}">50,000円</label>
						</div>
					</div>
					<h4 class="sub-title">クリエイティブ情報</h4>
					<div th:each="dspCreativeDto, stat : ${dspCampaignDetailDto.dspCreativeDtoList}">
						<fieldset class="form_block" id="form_block[0]">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label text-right">クリエイティブ</label>
								<div class="col-sm-3">
									<label class="col-form-label" th:text="*{dspCreativeDto.creativeName}">(12/23-12/27)メガガーデン戸塚店_300x250</label>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label text-right"></label>
								<div class="col-sm-4">
									<img class="img-fluid" th:src="*{dspCreativeDto.src}">
								</div>
							</div>
						</fieldset>
					</div>
					<h4 class="sub-title">リンク先情報</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">リンク先</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${dspCampaignDetailDto.dspSegmentDto.segmentName}+'--'+${dspCampaignDetailDto.dspSegmentDto.url}">50,000円</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-success" type="submit" onclick="return check('ファンへの配信広告を削除してよろしいでしょうか？')" th:formaction="@{/dsp/campaignDelete(campaignId=${dspCampaignDetailDto.campaignId})}" th:formmethod="post">削除</button>
							<button class="btn btn-warning" type="submit" th:formaction="@{/dsp/campaignList}" th:formmethod="get">一覧へ</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body">
		<script>
		// Bank Copy
		$(document).ready(function() {
		    var arrayLen = $(".form_block").length;
		    var frm_cnt = arrayLen - 1;
		    var original = $('#form_block\\[' + frm_cnt + '\\]');
		    var originCnt = frm_cnt;
		    $('#addBank').click(function() {
		        var clone = $('#form_block\\[' + frm_cnt + '\\]');
		        frm_cnt++;

		        original.clone().hide().insertAfter(clone).attr('id', 'form_block[' + frm_cnt + ']')
		        // クローンのid属性を変更。
		        .find('span.bank_no').text(frm_cnt + 1).end()
		        // 一度適用する
		        .find('input, textarea, select, hidden').each(function(idx, obj) {
		            $(obj).attr({
		                id: $(obj).attr('id').replace(/[0-9]+/, frm_cnt),
		                name: $(obj).attr('name').replace(/[0-9]+/, frm_cnt)
		            });
		            if ($(obj).attr('type') == 'text') {
		                $(obj).val('');
		                $(obj).removeAttr('required');
		                $(obj).removeAttr('readonly');
		            }
		            if ($(obj).attr('type') == 'select') {
		                $(obj).val('');
		            }
		            if ($(obj).attr('type') == 'hidden') {
		                $(obj).val('');
		            }
		            $(obj).children().removeAttr('disabled');
		            $(obj).children().removeAttr('selected');
		        });

		        // clone取得
		        clone = $('#form_block\\[' + frm_cnt + '\\]');
		        clone.find('fieldset').each(function(idx, obj) {
		            $(obj).removeAttr('data-select2-id');
		            $(obj).removeAttr('style');
		        });
		        clone.find('span.text-danger').each(function(idx, obj) {
		            $(obj).remove()
		        });
		        clone.find('input.account-type-code').each(function(idx, obj) {
		            $(obj).remove()
		        });
		        clone.find('input.group-code').each(function(idx, obj) {
		            $(obj).remove()
		        });
		        // clone.children('span.close').show();
		        clone.slideDown('slow');
		    });
		});
		</script>
	</div>
</body>
</html>
