<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-envira bg-c-blue"></i>
						<div class="d-inline">
							<h4>ファンへの配信広告　案件一覧</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div class="card">
			<div class="card-block">
				<form action="#">
					<div class="dt-responsive table-responsive">
						<input type="hidden" class="js-single">
						<table id="basicTable" class="table table-striped table-bordered nowrap" style="width: 100%;">
							<thead>
								<tr>
									<th>ステータス</th>
									<th>審査状況</th>
									<th>案件ID</th>
									<th>案件名</th>
									<th>配信期間</th>
									<th>配信状態</th>

								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ステータス</th>
									<th>審査状況</th>
									<th>案件ID</th>
									<th>案件名</th>
									<th>配信期間</th>
									<th>配信状態</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="dspCampaignDto : ${dspCampaignDtoList}">
									<td><label hidden="hidden" th:text="*{dspCampaignDto.campaignId}"></label><input type="checkbox" class="js-switch" th:checked="*{dspCampaignDto.status} == '1'" th:id="*{dspCampaignDto.campaignId}" th:disabled="${(dspCampaignDto.approvalFlag == '0') && (!T(jp.acepro.haishinsan.util.ContextUtil).hasAuthority('CAMPAIGN_APPROVAL'))}"></td>
									<td th:text="${T(jp.acepro.haishinsan.enums.ApprovalFlag).of(__${dspCampaignDto.approvalFlag}__).getLabel()}">キャンペーン１</td>
									<td><a sec:authorize="hasAuthority('DSP_CAMPAIGN_VIEW')" th:href="@{/dsp/campaignDetail(campaignId=*{dspCampaignDto.campaignId})}" th:text="*{dspCampaignDto.campaignId}">123</a></td>
									<td th:text="*{dspCampaignDto.campaignName}">キャンペーン１</td>
									<td th:text="*{dspCampaignDto.startDatetime} + ' ~ ' + *{dspCampaignDto.endDatetime}">2016-10-06 00:00 ~ 2016-10-10 23:30</td>
									<td th:text="${T(jp.acepro.haishinsan.enums.SegmentFlag).of(__*{dspCampaignDto.status}__).label}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body">
		<script type="text/javascript">
			$(document).ready(function() {
				var apiError = false;
				$(":checkbox").change(function() {
					
					// 異常発生しない場合、処理を続ける
					// 異常発生した場合は、異常フラグをリセット
					if (apiError) {
						apiError = false;
						return;
					}

					var checkedStatus = $(this).prop('checked');
					var campaignId = $(this).prev().text();
					var switchFlag = "";
					if (checkedStatus) {
						switchFlag = "ON"; // OFFにする
					} else {
						switchFlag = "OFF";  // ONにする
					}
					console.log(checkedStatus);
					console.log(switchFlag);
					var urlStr = "/dsp/api/" + campaignId + "/" + switchFlag;
					var td = $(this).parent().next();
					var thischeckbox = $(this);
					$.ajax({
						url: urlStr, // 自分のURLに変更
						success: function( result ) {
							if (td.text() == "承認待ち"&& switchFlag == "ON") {
								td.text("承認済み");
								$("#basicTable").DataTable();
							}
						    console.log(result);
						},
						error:function(XMLHttpRequest, textStatus, errorThrown){
							// Change Functionの無限ループをしないために、、
							//　異常発生時に異常フラグ設定
                        	apiError = true;	
							
							// 異常終了時にアラート表示
							alert("異常発生したため、ファンへの配信広告のステータスが更新できませんでした！");
							
							// スイッチの状態をクリック前に戻すとともに、
							//　Change Functionを再度発火するため、無限ループになる
							thischeckbox.click();
					   }
					});
				});
			});
		</script>
	</div>
</body>
</html>
