<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="col-lg-8">
				<div class="page-header-title">
					<i class="fa fa-envira bg-c-blue"></i>
					<div class="d-inline">
						<h4>リンク先作成完了</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div id="info" class="col-sm-24 col-md-24 col-xl-12 alert alert-success background-success">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<i class="icofont icofont-close-line-circled text-white"></i>
			</button>
			<strong>リンク先の作成が成功しました!</strong>
		</div>
		<div class="card">
			<div class="card-block">
				<form action="#" th:object="${dspSegmentDto}">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">リンク先名</label>
						<div class="col-sm-4">
							<label class="col-form-label" th:text="*{segmentName}">リンク先名テスト</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">URL</label>
						<div class="col-sm-3">
							<label class="col-form-label" th:text="*{url}">http://ace-pro.com/</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label"></label>
						<div class="col-sm-12 text-center">
							<button class="btn btn-warning" type="submit" sec:authorize="hasAuthority('DSP_SEGMENT_VIEW')" th:formaction="@{/dsp/segmentList}" th:formmethod="get">一覧へ</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
