<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-envira bg-c-blue"></i>
						<div class="d-inline">
							<h4>ファンへの配信広告　作成完了</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div id="info" class="col-sm-24 col-md-24 col-xl-12 alert alert-success background-success">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<i class="icofont icofont-close-line-circled text-white"></i>
			</button>
			<strong>ファンへの配信広告の作成が成功しました!</strong>
		</div>
		<div class="card">
			<div class="card-block">
				<h4 class="sub-title">基本情報</h4>
				<form action="#" th:object="${newDspCampaignDto}">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">案件名</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{campaignName}">DSPキャンペーンテスト</label>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信開始日</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{startDatetime}">2018-09-16</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信終了日</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{endDatetime}">2018-10-16</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">予算</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{budget}">50,000円</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">デバイス</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${T(jp.acepro.haishinsan.enums.DspDeviceType).of(__*{deviceType}__).label}">http://ace-pro.com/</label>
						</div>
					</div>
					<h4 class="sub-title">クリエイティブ情報</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">クリエイティブ情報</label>
						<div class="col-sm-4 col-form-label" th:if="${#lists.isEmpty(newDspCampaignDto.dspCampaignCreInputFormList)}">
							<select id="custom-headers" class="searchable" multiple th:field="*{idList}" disabled>
								<option th:each="object : *{dspCampaignCreInputFormList}" th:value="${object.getCreativeId()}" th:text="${object.getCreativeName()}">日本</option>
							</select>
						</div>
						<div class="col-sm-4 col-form-label" th:unless="${#lists.isEmpty(newDspCampaignDto.dspCampaignCreInputFormList)}">
							<select id="custom-headers" class="searchable" multiple th:field="*{idList}" disabled>
								<option th:each="object : *{dspCampaignCreInputFormList}" th:selected="${#lists.contains(newDspCampaignDto.idList, object.getCreativeId())}" th:value="${object.getCreativeId()}" th:text="${object.getCreativeName()}">日本</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">URL</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{url}">http://ace-pro.com/</label>
						</div>
					</div>
					<div class="form-group row">
						<!-- 						<label class="col-sm-2 col-form-label"></label> -->
						<div class="col-sm-12 text-center">
							<button class="btn btn-warning" type="submit" sec:authorize="hasAuthority('DSP_CAMPAIGN_VIEW')" th:formaction="@{/dsp/campaignList}" th:formmethod="get">一覧へ</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body">
		<script>
			// Creative Copy
			$(document).ready(function() {
			    var arrayLen = $(".form_block").length;
			    var frm_cnt = arrayLen - 1;
			    var original = $('#form_block\\[' + frm_cnt + '\\]');
			    var originCnt = frm_cnt;
			
			    $('#addCreative').click(function() {
			        var clone = $('#form_block\\[' + frm_cnt + '\\]');
			        frm_cnt++;
			
			        original.clone().hide().insertAfter(clone).attr('id', 'form_block[' + frm_cnt + ']')
			        // クローンのid属性を変更。
			        .end()
			        // 一度適用する
			        .find('input, textarea, select, hidden').each(function(idx, obj) {
			            $(obj).attr({
			                id: $(obj).attr('id').replace(/[0-9]+/, frm_cnt),
			                name: $(obj).attr('name').replace(/[0-9]+/, frm_cnt)
			            });
			            if ($(obj).attr('type') == 'text') {
			                $(obj).val('');
			                $(obj).removeAttr('required');
			                $(obj).removeAttr('readonly');
			            }
			            if ($(obj).attr('type') == 'select') {
			                $(obj).val('');
			            }
			            if ($(obj).attr('type') == 'hidden') {
			                $(obj).val('');
			            }
			            $(obj).children().removeAttr('disabled');
			            $(obj).children().removeAttr('selected');
			        });
			        // clone取得
			        clone = $('#form_block\\[' + frm_cnt + '\\]');
			        clone.slideDown('slow');
			    });
			
			    $('#deleteCreative').click(function() {
			        if (frm_cnt > 0) {
			            var clone = $('#form_block\\[' + frm_cnt + '\\]');
			            frm_cnt--;
			            clone.remove();
			        }
			
			    });
			});
		</script>
	</div>
</body>
</html>
