<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="col-lg-8">
				<div class="page-header-title">
					<i class="fa fa-envira bg-c-blue"></i>
					<div class="d-inline">
						<h4>ファンへの配信広告　テンプレート詳細</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div class="card">
			<div class="card-block">
				<h4 class="sub-title">基本情報</h4>
				<form th:action="@{/dsp/updateTemplate(templateId=*{templateId})}" method="post" th:object="${dspTemplateDto}">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">テンプレートID</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="*{templateId}"></label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">優先順</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="*{templatePriority}"></label>
						</div>
						<span class="col-form-label">（小さい数値が優先される）</span>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">テンプレート名</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="*{templateName}">テンプレート名</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">入札単価</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="*{bidCpcPrice}+'円'"></label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">課金方式</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${T(jp.acepro.haishinsan.enums.BillingType).of(__${dspTemplateDto.billingType}__).getLabel()}"></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-info" type="submit" sec:authorize="hasAuthority('DSP_TEMPLATE_MANAGE')" th:formmethod="post" th:formaction="@{/dsp/updateTemplate(templateId=*{templateId})}">更新</button>
							<button class="btn btn-danger" type="submit" onclick="return check('DSPテンポレートを削除してよろしいでしょうか？')" sec:authorize="hasAuthority('DSP_TEMPLATE_MANAGE')" th:formmethod="post" th:formaction="@{/dsp/deleteTemplate(templateId=*{templateId})}">削除</button>
							<button class="btn btn-warning" type="submit" sec:authorize="hasAuthority('DSP_TEMPLATE_VIEW')" th:formmethod="get" th:formaction="@{/dsp/templateList}">一覧へ</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>