<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="ti-palette bg-c-green"></i>
						<div class="d-inline">
							<h4>広告アップロード（STEP1：基本情報入力）</h4>
							<strong class="text-danger">※の項目は、必須項目です。</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form th:action="@{/}" method="post" th:object="${creativeInputForm}" enctype="multipart/form-data">
<!-- 		<form th:action="@{/}" method="post" th:object="${creativeInputForm}" enctype="multipart/form-data" onsubmit="return issueCheck()"> -->

			<div th:replace="common/errorMessages"></div>
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">基本情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">広告名<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{campaignName}" required="required" maxlength="60">
						</div>
					</div>
				
					<div class="form-radio">
						<div class="form-group row">
						
							<label class="col-form-label col-sm-2 text-right">媒体選択<span class="text-danger">※</span></label>
							<div class="col-sm-8">
							<div class="radio radio-inline col-sm-4" th:each="object : ${T(jp.acepro.haishinsan.enums.CreativeType).values()}">	
								<label> <input class="form-control" type="radio" th:value="${object.value}" th:field="*{creativeType}" th:text="${object.label}" checked="checked" required="required"> <i class="helper"></i>
								</label>
							</div>
							</div>
						</div>
					</div>
<!-- 					<div class="form-radio"> -->
<!-- 					<div class="form-group row"> -->
<!-- 						<div class="col-sm-2 text-right"> -->
<!-- 							<label class="col-form-label">広告媒体選択<span class="text-danger">※</span></label> -->
<!-- 						</div> -->
<!-- 						<div class="radio radio-inline col-sm-2" th:if="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getDspUserId())}"> -->
<!-- 							<label class="col-form-label"> <input type="radio" id="dspSelected" name="dspSelected"> <i class="helper"></i> -->
<!-- 							<span>ファンへの配信</span> -->
<!-- 							</label> -->
<!-- 						</div> -->
<!-- 						<div class="radio radio-inline col-sm-2" th:unless="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getDspUserId())}"> -->
<!-- 							<label class="col-form-label"> <input type="radio" id="dspSelected" name="dspSelected" disabled> <i class="helper"></i> -->
<!-- 							<span>ファンへの配信</span> -->
<!-- 							</label> -->
<!-- 						</div> -->
<!-- 						<div class="radio radio-inline col-sm-2" th:if="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getGoogleAccountId())}"> -->
<!-- 							<label class="col-form-label"> <input type="radio" id="googleSelected" name="googleSelected"> <i class="helper"></i> -->
<!-- 							<span>Google</span> -->
<!-- 							</label> -->
<!-- 						</div> -->
<!-- 						<div class="radio radio-inline col-sm-2" th:unless="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getGoogleAccountId())}"> -->
<!-- 							<label class="col-form-label"> <input type="radio" id="googleSelected" name="googleSelected" disabled> <i class="helper"></i> -->
<!-- 							<span>Google</span> -->
<!-- 							</label> -->
<!-- 						</div> -->
<!-- 						<div class="radio radio-inline col-sm-2" th:if="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getFacebookPageId())}"> -->
<!-- 							<label class="col-form-label"> <input type="radio" id="facebookSelected" name="facebookSelected"> <i class="helper"></i> -->
<!-- 							<span>Facebook</span> -->
<!-- 							</label> -->
<!-- 						</div> -->
<!-- 						<div class="radio radio-inline col-sm-2" th:unless="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getFacebookPageId())}"> -->
<!-- 							<label class="col-form-label"> <input type="radio" id="facebookSelected" name="facebookSelected" disabled> <i class="helper"></i> -->
<!-- 							<span>Facebook</span> -->
<!-- 							</label> -->
<!-- 						</div> -->
<!-- 						<div class="radio radio-inline col-sm-2" th:if="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getTwitterAccountId())}"> -->
<!-- 							<label class="col-form-label"> <input type="radio" id="twitterSelected" name="twitterSelected"> <i class="helper"></i> -->
<!-- 							<span>Twitter</span> -->
<!-- 							</label> -->
<!-- 						</div> -->
<!-- 						<div class="radio radio-inline col-sm-2" th:unless="${!#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getTwitterAccountId())}"> -->
<!-- 							<label class="col-form-label"> <input type="radio" id="twitterSelected" name="twitterSelected" disabled> <i class="helper"></i> -->
<!-- 							<span>Twitter</span> -->
<!-- 							</label> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					</div> -->

					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">リンク先<span class="text-danger">※</span></label>
						</div>
						<div class="col-sm-6">
							<select name="select" class="form-control" th:field="*{segmentId}" required>
								<option th:each="dspSegmentDto : ${dspSegmentDtoList}" th:selected="${creativeInputForm.segmentId} == ${dspSegmentDto.getSegmentId()}" th:value="${dspSegmentDto.getSegmentId()}" th:text="${dspSegmentDto.getUrl()}">リンク先のURLを選択してください</option>
							</select>
						</div>
						<div class="col-sm-4">
							<label class="col-form-label text-danger">リンク先はリンク先管理画面で作成する必要があります。</label>
						</div>
					</div>
				</div>
			</div>
			<div class="card" id="dsp">
				<div class="card-block">
					<h4 class="sub-title text-capitalize">
						ファンへの配信<span class="text-danger">※</span>
					</h4>
<!-- 						<div class="col-sm-12"> -->
							<div class="card-block">
								<div class="sub-title">
									画像アップロード<span class="text-danger">※</span>
								</div>
<input type="file" th:field="*{myfile1}" multiple ><br>
<img id="img1" style="max-width:25%;height:auto;" />	
							</div>
				</div>
			</div>
			<div class="card" id="google">
				<div class="card-block">
					<h4 class="sub-title text-capitalize">Google</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">広告タイプ</label>
						<div class="col-sm-4">
							<select class="form-control" th:field="*{adType}">
								<option th:each="object : ${T(jp.acepro.haishinsan.enums.GoogleAdType).values()}" th:selected="${creativeInputForm.adType == object.getValue()}" th:value="${object.getValue()}" th:text="${object.getLabel()}">全て</option>
							</select>
						</div>
					</div>
					<div id="responsiveAdBlock">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">短い広告見出し<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{resAdShortTitle}" maxlength="15">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{resAdDescription}" maxlength="45">
							</div>
						</div>
<!-- 						<div class="col-sm-12"> -->
							<div class="card-block">
								<div class="sub-title">
									画像アップロード<span class="text-danger">※</span>
								</div>
<input type="file" th:field="*{myfile2}" multiple><br>
<img id="img2" style="max-width:25%;height:auto;" />	
							</div>
<!-- 						</div> -->
					</div>
					<div id="imageAdBlock">
<!-- 						<div class="col-sm-12"> -->
							<div class="card-block">
								<div class="sub-title">
									画像アップロード<span class="text-danger">※</span>
								</div>
<input type="file" th:field="*{myfile3}" multiple><br>
<img id="img3" style="max-width:25%;height:auto;" />	
						</div>
					</div>
					<div id="textAdBlock">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し１<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textAdTitle1}" maxlength="15">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し２<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textAdTitle2}" maxlength="15">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textAdDescription}" maxlength="45">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card" id="facebook">
				<div class="card-block">
					<h4 class="sub-title text-capitalize">Facebook<span class="text-danger">※</span></h4>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textFacebookDescription}" maxlength="45">
							</div>
						</div>
							<div class="card-block">
								<div class="sub-title">
									画像アップロード<span class="text-danger">※</span>
								</div>
<input type="file" th:field="*{myfile4}" multiple><br>
<img id="img4" style="max-width:25%;height:auto;" />						
                            </div>
				</div>
			</div>
			<div class="card" id="instagram">
				<div class="card-block">
					<h4 class="sub-title text-capitalize">Instagram<span class="text-danger">※</span></h4>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文<span class="text-danger">※</span></label>
							<div class="col-sm-4">
								<input type="text" class="form-control" th:field="*{textInstagramDescription}" maxlength="45">
							</div>
						</div>
<!-- 						<div class="col-sm-12"> -->
							<div class="card-block">
								<div class="sub-title">
									画像アップロード<span class="text-danger">※</span>
								</div>
<input type="file" th:field="*{myfile5}" multiple><br>
<img id="img5" style="max-width:25%;height:auto;" />						
                            </div>
<!-- 						</div> -->
				</div>
			</div>
	
			<div class="card" id="twitter">
				<div class="card-block">
					<h4 class="sub-title text-capitalize">Twitter</h4>
					<!-- Scrolling DataTable table start -->
					<div id="websiteTwitter" class="dt-responsive table-responsive">
						<table id="basicTable" class="table table-striped table-bordered nowrap">
							<thead>
								<tr>
									<th></th>
									<th>ツイートレビュー</th>
									<th>ツイート内容</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th></th>
									<th>ツイートレビュー</th>
									<th>ツイート内容</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="websiteTweet : *{websiteTweetList}">
									<td><input type="checkbox" name="tweetIdList" th:value="${websiteTweet.tweetId}" autocomplete="off" tabindex="-1" data-row="0" data-col="2"></td>
									<td><a th:href="${websiteTweet.previewUrl}" target="_blank">プレビュー</a></td>
									<td th:utext="${websiteTweet.tweetTitle} + '&lt;br /&gt;' + ${websiteTweet.tweetBody}">Tiger Nixon</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Scrolling DataTable table end -->
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-12 text-center">
					<button sec:authorize="hasAuthority('SIMPLE_CAMPAIGN_MANAGE')" class="btn btn-success" type="submit" th:formaction="@{/creative/creativeConfirm}" th:formmethod="post"
						th:disabled="${#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getDspUserId()) && 
								#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getGoogleAccountId()) && 
								#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getFacebookPageId()) && 
								#strings.isEmpty(T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getTwitterAccountId())}">次へ</button>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body">
		<script th:inline="javascript">
			/*<![CDATA[*/
			var responsiveAd = /*[[${T(jp.acepro.haishinsan.enums.GoogleAdType).RESPONSIVE.getValue()}]]*/
			var imageAd = /*[[${T(jp.acepro.haishinsan.enums.GoogleAdType).IMAGE.getValue()}]]*/
			var textAd = /*[[${T(jp.acepro.haishinsan.enums.GoogleAdType).TEXT.getValue()}]]*/
			var googleAccountId = /*[[${T(jp.acepro.haishinsan.util.ContextUtil).getCurrentShop().getGoogleAccountId()}]]*/
			// 広告タイプの選択により、表示内容を切り替える
			$(document).ready(function() {
				$('[name="adType"]').change(function() {
				    changeAdBlcok();
				});
			});
			
			// 広告タイプの設定値により、表示内容を切り替える
			$(document).ready(function() {
				//changeAdBlcok();
				var prop1 = $('#creativeType1').prop('checked');
				if (prop1) {
					$('#dsp').show();
					$('[id=creativeNone]').prop("required", true);
				} else {
					$('#dsp').hide();
					$('[id=creativeNone]').prop("required", false);
				}
				var prop2 = $('#creativeType2').prop('checked');
				if (prop2) {
					$('#google').show();
				} else {
					$('#google').hide();
					$('[id=resAdShortTitle]').prop("required", false);
					$('[id=resAdDescription]').prop("required", false);
					$('[id=resAdImageFileList]').prop("required", false);
				}
				var prop3 = $('#creativeType3').prop('checked');
				if (prop3) {
					$('#facebook').show();
				} else {
					$('#facebook').hide();
					$('[id=facebookImage]').prop("required", false);
				}
				var prop4 = $('#creativeType4').prop('checked');
				if (prop4) {
					$('#instagram').show();
				} else {
					$('#instagram').hide();
					$('[id=facebookImage]').prop("required", false);
				}
				var prop5 = $('#creativeType5').prop('checked');
				if (prop5) {
					$('#twitter').show();
				} else {
					$('#twitter').hide();
				}

			});
				
			// 表示内容を切り替える
			function changeAdBlcok() {
				var val = $('[name="adType"]').val();
				if(googleAccountId==""){
					$('[id=responsiveAdBlock]').hide();
					$('[id=resAdShortTitle]').prop("required", false);
					$('[id=resAdDescription]').prop("required", false);
					$('[id=resAdImageFileList]').prop("required", false);
					
					$('[id=imageAdBlock]').hide();
					$('[id=imageAdImageFileList]').prop("required", false);
					
					$('[id=textAdBlock]').hide();
					$('[id=textAdTitle1]').prop("required", false);
					$('[id=textAdTitle2]').prop("required", false);
					$('[id=textAdDescription]').prop("required", false);
					return;
				}
				switch (val) {
				case responsiveAd:
					$('[id=responsiveAdBlock]').fadeIn();
					$('[id=resAdShortTitle]').prop("required", true);
					$('[id=resAdDescription]').prop("required", true);
					$('[id=resAdImageFileList]').prop("required", true);
					
					$('[id=imageAdBlock]').hide();
					$('[id=imageAdImageFileList]').prop("required", false);
					
					$('[id=textAdBlock]').hide();
					$('[id=textAdTitle1]').prop("required", false);
					$('[id=textAdTitle2]').prop("required", false);
					$('[id=textAdDescription]').prop("required", false);
					break;
				case imageAd:
					$('[id=responsiveAdBlock]').hide();
					$('[id=resAdShortTitle]').prop("required", false);
					$('[id=resAdDescription]').prop("required", false);
					$('[id=resAdImageFileList]').prop("required", false);
					
					$('[id=imageAdBlock]').fadeIn();
					$('[id=imageAdImageFileList]').prop("required", true);
					
					$('[id=textAdBlock]').hide();
					$('[id=textAdTitle1]').prop("required", false);
					$('[id=textAdTitle2]').prop("required", false);
					$('[id=textAdDescription]').prop("required", false);
					break;
				case textAd:
					$('[id=responsiveAdBlock]').hide();
					$('[id=resAdShortTitle]').prop("required", false);
					$('[id=resAdDescription]').prop("required", false);
					$('[id=resAdImageFileList]').prop("required", false);
					
					$('[id=imageAdBlock]').hide();
					$('[id=imageAdImageFileList]').prop("required", false);
					
					$('[id=textAdBlock]').fadeIn();
					$('[id=textAdTitle1]').prop("required", true);
					$('[id=textAdTitle2]').prop("required", true);
					$('[id=textAdDescription]').prop("required", true);
					break;
				
				}
				
			}
			/*]]>*/
			
			$(function() {
				$('input[name="creativeType1"]').change(function() {
					var prop = $('#creativeType1').prop('checked');
					if (prop) {
						$('#dsp').fadeIn();
						$('[id=creativeNone]').prop("required", true);
					} else {
						$('#dsp').fadeOut();
						$('[id=creativeNone]').prop("required", false);
					}
				});

				$('input[name="creativeType2"]').change(function() {
					var prop = $('#creativeType2').prop('checked');
					if (prop) {
						$('#google').fadeIn();
						changeAdBlcok();
					} else {
						$('#google').fadeOut();
						$('[id=resAdShortTitle]').prop("required", false);
						$('[id=resAdDescription]').prop("required", false);
						$('[id=resAdImageFileList]').prop("required", false);
						$('[id=imageAdImageFileList]').prop("required", false);
						$('[id=textAdTitle1]').prop("required", false);
						$('[id=textAdTitle2]').prop("required", false);
						$('[id=textAdDescription]').prop("required", false);
					}
				});

				$('input[name="creativeType3"]').change(function() {
					var prop = $('#creativeType3').prop('checked');
					if (prop) {
						$('#facebook').fadeIn();
					} else {
						$('#facebook').fadeOut();
					}
				});

				$('input[name="creativeType4"]').change(function() {
					var prop = $('#creativeType4').prop('checked');
					if (prop) {
						$('#instagram').fadeIn();
					} else {
						$('#instagram').fadeOut();
					}
				});

				$('input[name="creativeType5"]').change(function() {
					var prop = $('#creativeType5').prop('checked');
					if (prop) {
						$('#twitter').fadeIn();
					} else {
						$('#twitter').fadeOut();
					}
				});
				

			});
			// Creative Copy
			$(document).ready(function() {
    var arrayLen = $(".form_block").length;
    var frm_cnt = arrayLen - 1;
    var original = $('#form_block\\[' + frm_cnt + '\\]');
    var originCnt = frm_cnt;
    $('#addCreative').click(function() {
        var clone = $('#form_block\\[' + frm_cnt + '\\]');
        frm_cnt++;
        original.clone().hide().insertAfter(clone).attr('id', 'form_block[' + frm_cnt + ']')
        // クローンのid属性を変更。
        .end()
        // 一度適用する
        .find('input, textarea, select, hidden').each(function(idx, obj) {
            $(obj).attr({
                id: $(obj).attr('id').replace(/[0-9]+/, frm_cnt),
                name: $(obj).attr('name').replace(/[0-9]+/, frm_cnt)
            });
            if ($(obj).attr('type') == 'text') {
                $(obj).val('');
                $(obj).removeAttr('required');
                $(obj).removeAttr('readonly');
            }
            if ($(obj).attr('type') == 'select') {
                $(obj).val('');
            }
            if ($(obj).attr('type') == 'hidden') {
                $(obj).val('');
            }
            $(obj).children().removeAttr('disabled');
            $(obj).children().removeAttr('selected');
        });
        // clone取得
        clone = $('#form_block\\[' + frm_cnt + '\\]');
        clone.slideDown('slow');
    });
    $('#deleteCreative').click(function() {
        if (frm_cnt > 0) {
            var clone = $('#form_block\\[' + frm_cnt + '\\]');
            frm_cnt--;
            clone.remove();
        }
    });
});
		</script>
		<script type="text/javascript"> 
	        //配信開始日、終了日のを過去に選択できない
	        $(function(){
	        	 var toDay = new Date();
		            var year = toDay.getFullYear();
		            var month = toDay.getMonth()+1 < 10 ? "0"+(toDay.getMonth()+1) : (toDay.getMonth()+1);
		            var day = toDay.getDate() < 10 ? "0"+toDay.getDate() : toDay.getDate();
		            $("#startDate").attr("min",year+"-"+month+"-"+day);
		            $("#endDate").attr("min",year+"-"+month+"-"+day);
	        });
        </script>
        
		<script type="text/javascript">
		// ラジオボタンの挙動
// 			$(document).ready(function() {
// 				if ($('[id=period1]').prop('checked')) {
// 					$('[id=search]').hide();
// 				}
// 				if ($('[id=period2]').prop('checked')) {
// 					$('[id=search]').show();
// 				}
// 			});
			$(document).ready(function() {
				$('[name="creativeType"]:radio').change(function() {
					if ($('[id=creativeType1]').prop('checked')) {
						$('[id=google]').fadeOut();
						$('[id=facebook]').fadeOut();
						$('[id=instagram]').fadeOut();
						$('[id=twitter]').fadeOut();
						$('[id=dsp]').fadeIn();
					}
					if ($('[id=creativeType2]').prop('checked')) {
						$('[id=dsp]').fadeOut();
						$('[id=facebook]').fadeOut();
						$('[id=instagram]').fadeOut();
						$('[id=twitter]').fadeOut();
						$('[id=google]').fadeIn();
						changeAdBlcok();
					}
					if ($('[id=creativeType3]').prop('checked')) {
						$('[id=dsp]').fadeOut();
						$('[id=google]').fadeOut();
						$('[id=instagram]').fadeOut();
						$('[id=twitter]').fadeOut();
						$('[id=facebook]').fadeIn();
					}
					if ($('[id=creativeType4]').prop('checked')) {
						$('[id=dsp]').fadeOut();
						$('[id=google]').fadeOut();
						$('[id=facebook]').fadeOut();
						$('[id=twitter]').fadeOut();
						$('[id=instagram]').fadeIn();
					}
					if ($('[id=creativeType5]').prop('checked')) {
						$('[id=dsp]').fadeOut();
						$('[id=google]').fadeOut();
						$('[id=facebook]').fadeOut();
						$('[id=instagram]').fadeOut();
						$('[id=twitter]').fadeIn();
					}
				});
			});
		</script>
<script>
$(function(){
  $('#myfile1').change(function(e){
    //ファイルオブジェクトを取得する
    var file = e.target.files[0];
    var reader = new FileReader();
 
    //画像でない場合は処理終了
    if(file.type.indexOf("image") < 0){
      alert("画像ファイルを指定してください。");
      return false;
    }
 
    //アップロードした画像を設定する
    reader.onload = (function(file){
      return function(e){
        $("#img1").attr("src", e.target.result);
        $("#img1").attr("title", file.name);
      };
    })(file);
    reader.readAsDataURL(file);
 
  });
  $('#myfile2').change(function(e){
	    //ファイルオブジェクトを取得する
	    var file = e.target.files[0];
	    var reader = new FileReader();
	 
	    //画像でない場合は処理終了
	    if(file.type.indexOf("image") < 0){
	      alert("画像ファイルを指定してください。");
	      return false;
	    }
	 
	    //アップロードした画像を設定する
	    reader.onload = (function(file){
	      return function(e){
	        $("#img2").attr("src", e.target.result);
	        $("#img2").attr("title", file.name);
	      };
	    })(file);
	    reader.readAsDataURL(file);
	 
	  });
  $('#myfile3').change(function(e){
	    //ファイルオブジェクトを取得する
	    var file = e.target.files[0];
	    var reader = new FileReader();
	 
	    //画像でない場合は処理終了
	    if(file.type.indexOf("image") < 0){
	      alert("画像ファイルを指定してください。");
	      return false;
	    }
	 
	    //アップロードした画像を設定する
	    reader.onload = (function(file){
	      return function(e){
	        $("#img3").attr("src", e.target.result);
	        $("#img3").attr("title", file.name);
	      };
	    })(file);
	    reader.readAsDataURL(file);
	 
	  });
  $('#myfile4').change(function(e){
	    //ファイルオブジェクトを取得する
	    var file = e.target.files[0];
	    var reader = new FileReader();
	 
	    //画像でない場合は処理終了
	    if(file.type.indexOf("image") < 0){
	      alert("画像ファイルを指定してください。");
	      return false;
	    }
	 
	    //アップロードした画像を設定する
	    reader.onload = (function(file){
	      return function(e){
	        $("#img4").attr("src", e.target.result);
	        $("#img4").attr("title", file.name);
	      };
	    })(file);
	    reader.readAsDataURL(file);
	 
	  });
  $('#myfile5').change(function(e){
	    //ファイルオブジェクトを取得する
	    var file = e.target.files[0];
	    var reader = new FileReader();
	 
	    //画像でない場合は処理終了
	    if(file.type.indexOf("image") < 0){
	      alert("画像ファイルを指定してください。");
	      return false;
	    }
	 
	    //アップロードした画像を設定する
	    reader.onload = (function(file){
	      return function(e){
	        $("#img5").attr("src", e.target.result);
	        $("#img5").attr("title", file.name);
	      };
	    })(file);
	    reader.readAsDataURL(file);
	 
	  });
});
</script>
	</div>
</body>
</html>