<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<head>
<style>
/* スマートフォンで見たときは"sp"のclassがついたグラフは非表示 */
@media only screen and (max-width: 750px) {
	.sp {
		display: none !important;
	}
}
</style>
</head>
<body>
	<!-- Page title start -->
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title ">
						<i class="fa fa-bar-chart-o bg-c-blue"></i>
						<div class="d-inline">
							<h4>レポーティング一覧</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page title end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div class="card" id="issueDetail">
			<div class="card-block">
				<h4 class="sub-title">案件情報</h4>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">案件名</label>
				<div class="col-sm-4">
					<label class="col-form-label"
						th:text="${dspCampaignDetailDto.campaignName}">DSPキャンペーンテスト</label>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">配信開始日</label>
				<div class="col-sm-2">
					<label class="col-form-label"
						th:text="${dspCampaignDetailDto.startDatetime}">2018-09-16</label>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">配信終了日</label>
				<div class="col-sm-2">
					<label class="col-form-label"
						th:text="${dspCampaignDetailDto.endDatetime}">2018-10-16</label>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">総予算</label>
				<div class="col-sm-2">
					<label class="col-form-label"
						th:text="${dspCampaignDetailDto.budget}">50,000円</label>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label text-right">デバイス</label>
				<div class="col-sm-1">
					<label class="col-form-label"
						th:text="${T(jp.acepro.haishinsan.enums.DspDeviceType).of(__${dspCampaignDetailDto.device}__).label}">50,000円</label>
				</div>
			</div>
			<div class="card-block">
				<h4 class="sub-title">ファンへ配信-広告物</h4>
			</div>
			<div
				th:each="dspCreativeDto, stat : ${dspCampaignDetailDto.dspCreativeDtoList}">
				<fieldset class="form_block" id="form_block[0]">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">クリエイティブ</label>
						<div class="col-sm-3">
							<label class="col-form-label"
								th:text="*{dspCreativeDto.creativeName}">(12/23-12/27)メガガーデン戸塚店_300x250</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right"></label>
						<div class="col-sm-4">
							<img class="img-fluid" th:src="*{dspCreativeDto.url}">
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<form th:action="@{/issue/report}" method="post">
			<div class="card" id="dspReporting">
				<div th:if="${dspDateReportingDtoList != null}">
					<div class="card-block">
						<h4 class="sub-title">ファンへ配信-日付別</h4>
					</div>
					<div class="card-block">
						<div id="dspDaily" class="c3"></div>
					</div>
					<div class="card-block col-lg-12">
						<table class="table table-striped table-bordered nowrap"
							style="width: 100%;">
							<thead>
								<tr>
									<th>日次サマリ</th>
									<th>表示回数</th>
									<th>クリック数</th>
									<th>ご利用金額</th>
									<th>CTR</th>
									<th>CPC</th>
									<th>CPM</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="dateDto : ${dspDateReportingDtoList}">
									<td th:text="${dateDto.date}">2019/1/1</td>
									<td th:text="${dateDto.impressionCount}">130092</td>
									<td th:text="${dateDto.clickCount}">136</td>
									<td th:text="${dateDto.price}">¥7,570</td>
									<td th:text="${dateDto.ctr}">0.10%</td>
									<td th:text="${dateDto.cpc}">¥56</td>
									<td th:text="${dateDto.cpm}">¥58</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-success" type="submit"
								th:formaction="@{/issue/download/dspDownload(campaignId=${dspCampaignDetailDto.campaignId}, reportType=(${T(jp.acepro.haishinsan.enums.ReportType).DATE.getValue()}))}"
								th:formmethod="post">CSVダウンロード</button>
						</div>
					</div>
				</div>
				<div th:if="${dspDeviceReportingDtoList != null}">
					<div class="card-block">
						<h4 class="sub-title">ファンへ配信ーデバイス別</h4>
					</div>
					<div class="card-block col-lg-12"
						style="text-align: center; margin: 0 auto; padding: 0; clear: both;">
						<div id="dspDeviceClick"
							style="width: 33%; display: inline-block;" class="c3"></div>
						<div id="dspDeviceImpression"
							style="width: 33%; display: inline-block;"></div>
						<div id="dspDeviceSum" style="width: 33%; display: inline-block;"></div>
					</div>
					<div class="card-block col-lg-12">
						<table class="table table-striped table-bordered nowrap"
							style="width: 100%;">
							<thead>
								<tr>
									<th>デバイス</th>
									<th>表示回数</th>
									<th>クリック数</th>
									<th>ご利用金額</th>
									<th>CTR</th>
									<th>CPC</th>
									<th>CPM</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="deviceDto : ${dspDeviceReportingDtoList}">
									<td th:text="${deviceDto.deviceType}">2019/1/1</td>
									<td th:text="${deviceDto.impressionCount}">130092</td>
									<td th:text="${deviceDto.clickCount}">136</td>
									<td th:text="${deviceDto.price}">¥7,570</td>
									<td th:text="${deviceDto.ctr}">0.10%</td>
									<td th:text="${deviceDto.cpc}">¥56</td>
									<td th:text="${deviceDto.cpm}">¥58</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-success"
								th:formaction="@{/issue/download/dspDownload(campaignId=${dspCampaignDetailDto.campaignId}, reportType=(${T(jp.acepro.haishinsan.enums.ReportType).DEVICE.getValue()}))}"
								th:formmethod="Post">CSVダウンロード</button>
						</div>
					</div>
				</div>
				<div th:if="${dspCreativeReportingDtoList != null}">
					<div class="card-block">
						<h4 class="sub-title">ファンへ配信ークリエイティブ別</h4>
					</div>
					<div class="card-block col-lg-12"
						style="text-align: center; margin: 0 auto; padding: 0; clear: both;">
						<div id="dspCreative" class="c3"></div>
					</div>
					<div class="card-block col-lg-12">
						<table class="table table-striped table-bordered nowrap"
							style="width: 100%;">
							<thead>
								<tr>
									<th>クリエいティブ</th>
									<th>表示回数</th>
									<th>クリック数</th>
									<th>ご利用金額</th>
									<th>CTR</th>
									<th>CPC</th>
									<th>CPM</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="creatitveDto : ${dspCreativeReportingDtoList}">
									<td th:text="${creatitveDto.creativeName}">2019/1/1</td>
									<td th:text="${creatitveDto.impressionCount}">130092</td>
									<td th:text="${creatitveDto.clickCount}">136</td>
									<td th:text="${creatitveDto.price}">¥7,570</td>
									<td th:text="${creatitveDto.ctr}">0.10%</td>
									<td th:text="${creatitveDto.cpc}">¥56</td>
									<td th:text="${creatitveDto.cpm}">¥58</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button class="btn btn-success"
								th:formaction="@{/issue/download/dspDownload(campaignId=${dspCampaignDetailDto.campaignId}, reportType=(${T(jp.acepro.haishinsan.enums.ReportType).CREATIVE.getValue()}))}"
								th:formmethod="Post">CSVダウンロード</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Page body end -->

</body>
<div layout:fragment="custom_resource_body">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		/*DSP日付 Chart*/
		var chart = c3.generate({
			bindto : '#dspDaily',
			data : {
				x : 'x',
				columns : [
				/*[[${dspDateReportingGraphDto.reportType}]]*/,
				/*[[${dspDateReportingGraphDto.impressionCount}]]*/,
				/*[[${dspDateReportingGraphDto.clickCount}]]*/,
				/*[[${dspDateReportingGraphDto.price}]]*/,
				/*[[${dspDateReportingGraphDto.cpc}]]*/,
				/*[[${dspDateReportingGraphDto.cpm}]]*/,
				/*[[${dspDateReportingGraphDto.ctr}]]*/
				],
				names : {
					impressionCount : '表示回数',
					clickCount : 'クリック回数',
					price : 'ご利用金額',
					cpc : 'CPC',
					cpm : 'CPM',
					ctr : 'CTR'
				},
				colors : {
					表示回数 : '#00C292',
					クリック数 : '#4C5667',
					ご利用金額 : '#03A9F3',
					CTR : '#AB8CE4',
					CPC : '#a3aebd',
					CPM : '#FEC107'
				},
				types : {
					impressionCount : 'bar',
					clickCount : 'bar',
					price : 'bar',
					CTR : 'line',
					CPC : 'line',
					CPM : 'line',
				},
				groups : [ [ '表示回数', 'クリック数' ] ]
			},
			axis : {
				x : {
					type : 'category'
				}
			}
		});
		/*dspDeviceClick*/
		var chart = c3
				.generate({
					bindto : '#dspDeviceClick',
					data : {
						columns : [
								[ 'PC', /*[[${dspDeviceReportingDtoList[0].clickCount}]]*/],
								[ 'SP', /*[[${dspDeviceReportingDtoList[1].clickCount}]]*/], ],
						type : 'donut',
						onclick : function(d, i) {
							console.log("onclick", d, i);
						},
						onmouseover : function(d, i) {
							console.log("onmouseover", d, i);
						},
						onmouseout : function(d, i) {
							console.log("onmouseout", d, i);
						}
					},
					color : {
						pattern : [ '#4C5667', '#1ABC9C' ]
					},
					donut : {
						title : "クリック回数"
					}
				});

		/*dspDeviceSum*/
		var chart = c3
				.generate({
					bindto : '#dspDeviceSum',
					data : {
						columns : [
								[ 'PC', /*[[${dspDeviceReportingDtoList[0].price}]]*/],
								[ 'SP', /*[[${dspDeviceReportingDtoList[1].price}]]*/], ],
						type : 'donut',
						onclick : function(d, i) {
							console.log("onclick", d, i);
						},
						onmouseover : function(d, i) {
							console.log("onmouseover", d, i);
						},
						onmouseout : function(d, i) {
							console.log("onmouseout", d, i);
						}
					},
					color : {
						pattern : [ '#4C5667', '#1ABC9C' ]
					},
					donut : {
						title : "ご利用金額"
					}
				});
		/*dspDeviceImpression*/
		var chart = c3
				.generate({
					bindto : '#dspDeviceImpression',
					data : {
						columns : [
								[ 'PC', /*[[${dspDeviceReportingDtoList[0].impressionCount}]]*/],
								[ 'SP', /*[[${dspDeviceReportingDtoList[1].impressionCount}]]*/], ],
						type : 'donut',
						onclick : function(d, i) {
							console.log("onclick", d, i);
						},
						onmouseover : function(d, i) {
							console.log("onmouseover", d, i);
						},
						onmouseout : function(d, i) {
							console.log("onmouseout", d, i);
						}
					},
					color : {
						pattern : [ '#4C5667', '#1ABC9C' ]
					},
					donut : {
						title : "表示回数"
					}
				});
		/*dspCreativeClick*/
		var chart = c3.generate({
			bindto : '#dspCreative',
			data : {
				x : 'x',
				columns : [
				/*[[${dspCreativeReportingGraphDto.reportType}]]*/,
				/*[[${dspCreativeReportingGraphDto.impressionCount}]]*/,
				/*[[${dspCreativeReportingGraphDto.clickCount}]]*/,
				/*[[${dspCreativeReportingGraphDto.price}]]*/,
				/*[[${dspCreativeReportingGraphDto.cpc}]]*/,
				/*[[${dspCreativeReportingGraphDto.cpm}]]*/,
				/*[[${dspCreativeReportingGraphDto.ctr}]]*/
				],
				names : {
					impressionCount : '表示回数',
					clickCount : 'クリック回数',
					price : 'ご利用金額',
					cpc : 'CPC',
					cpm : 'CPM',
					ctr : 'CTR'
				},
				colors : {
					表示回数 : '#00C292',
					クリック数 : '#4C5667',
					ご利用金額 : '#03A9F3',
					CTR : '#AB8CE4',
					CPC : '#a3aebd',
					CPM : '#FEC107'
				},
				types : {
					impressionCount : 'bar',
					clickCount : 'bar',
					price : 'bar',
					CTR : 'line',
					CPC : 'line',
					CPM : 'line',
				},
				groups : [ [ '表示回数', 'クリック数' ] ]
			},
			axis : {
				x : {
					type : 'category'
				}
			}
		});
		/*]]>*/
	</script>
</div>
</html>