<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<body>
	<!-- Page title start -->
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-bar-chart-o bg-c-blue"></i>
						<div class="d-inline">
							<h4>レポーティング一覧</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page title end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form action="#" method="post">
			<div class="card" id="FacebookReporting">
				<div class="card-block">
					<h4 class="sub-title">案件情報</h4>
				</div>
				<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">案件名</label>
						<div class="col-sm-4">
							<label class="col-form-label" th:text="${issue.campaignName}"></label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信開始日</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="${issue.startDate}">2018-09-16</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信終了日</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="${issue.endDate}">2018-10-16</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">一日予算</label>
						<div class="col-sm-2">
							<label class="col-form-label" th:text="${issue.facebookOnedayBudget}">50,000円</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">リンク先URL</label>
						<div class="col-sm-1">
							<label class="col-form-label" th:text="${fbCampaignDto.linkUrl}"></label>
						</div>
					</div>
			</div>
			<div class="card" id="FacebookReporting">
				<div class="card-block">
					<h4 class="sub-title">Facebook-広告物</h4>
				</div>
				<div class="card-block">
					<img th:src="${fbCampaignDto.imageUrl}" style='display:block;width:100px'></img>
				</div>
				<div class="card-block">
					<h4 class="sub-title">Facebook-日付別</h4>
				</div>
				<div class="card-block">
					<div id="facebookDaily" class="c3"></div>
				</div>
				<div class="card-block col-lg-12">
					<table id="basicTable"
						class="table table-striped table-bordered nowrap"
						style="width: 100%;">
						<thead>
							<tr>
								<th>日次サマリ</th>
								<th>表示回数</th>
								<th>クリック数</th>
								<th>ご利用金額</th>
								<th>CTR</th>
								<th>CPC</th>
								<th>CPM</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="dateDto : ${fbDateReportDisplayDtoList}">
								<td th:text="${dateDto.date}">2019/1/1</td>
								<td th:text="${dateDto.impressions}">130092</td>
								<td th:text="${dateDto.clicks}">136</td>
								<td th:text="${dateDto.spend}">¥7,570</td>
								<td th:text="${dateDto.ctr}">0.10%</td>
								<td th:text="${dateDto.cpc}">¥56</td>
								<td th:text="${dateDto.cpm}">¥58</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-block">
					<h4 class="sub-title">Facebookーデバイス別</h4>
				</div>
				<div class="card-block">
					<div id="facebookDevice" class="c3"></div>
				</div>
				<div class="card-block col-lg-12">
					<table id="basicTable"
						class="table table-striped table-bordered nowrap"
						style="width: 100%;">
						<thead>
							<tr>
								<th>デバイス</th>
								<th>表示回数</th>
								<th>クリック数</th>
								<th>ご利用金額</th>
								<th>CTR</th>
								<th>CPC</th>
								<th>CPM</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="deviceDto : ${fbDeviceReportDisplayDtoList}">
								<td th:text="${deviceDto.device}">2019/1/1</td>
								<td th:text="${deviceDto.impressions}">130092</td>
								<td th:text="${deviceDto.clicks}">136</td>
								<td th:text="${deviceDto.spend}">¥7,570</td>
								<td th:text="${deviceDto.ctr}">0.10%</td>
								<td th:text="${deviceDto.cpc}">¥56</td>
								<td th:text="${deviceDto.cpm}">¥58</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-block">
					<h4 class="sub-title">Facebookー地域別</h4>
				</div>
				<div class="card-block">
					<div id="facebookRegion" class="c3"></div>
				</div>
				<div class="card-block col-lg-12">
					<table id="basicTable"
						class="table table-striped table-bordered nowrap"
						style="width: 100%;">
						<thead>
							<tr>
								<th>地域別</th>
								<th>表示回数</th>
								<th>クリック数</th>
								<th>ご利用金額</th>
								<th>CTR</th>
								<th>CPC</th>
								<th>CPM</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="regionDto : ${fbRegionReportDisplayDtoList}">
								<td th:text="${regionDto.region}">2019/1/1</td>
								<td th:text="${regionDto.impressions}">130092</td>
								<td th:text="${regionDto.clicks}">136</td>
								<td th:text="${regionDto.spend}">¥7,570</td>
								<td th:text="${regionDto.ctr}">0.10%</td>
								<td th:text="${regionDto.cpc}">¥56</td>
								<td th:text="${regionDto.cpm}">¥58</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>
	<!-- Page body end -->

</body>
<div layout:fragment="custom_resource_body">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		/*Facebook日付 Chart*/
		var chart = c3.generate({
			bindto : '#facebookDaily',
			data : {
				x:'x',
				columns : [
					/*[[${fbDateGraphReportDto.reportTypeList}]]*/ ,
				/*[[${fbDateGraphReportDto.impressionList}]]*/,
				/*[[${fbDateGraphReportDto.clicksList}]]*/,
				/*[[${fbDateGraphReportDto.spendList}]]*/,
				/*[[${fbDateGraphReportDto.CPCList}]]*/,
				/*[[${fbDateGraphReportDto.CPMList}]]*/,
				/*[[${fbDateGraphReportDto.CTRList}]]*/
				],
				names : {
					impressions : '表示回数',
					clicks : 'クリック回数',
					spend : 'ご利用金額',
					cpc : 'CPC',
					cpm : 'CPM',
					ctr : 'CTR'
				},
				colors : {
					表示回数 : '#00C292',
					クリック数 : '#4C5667',
					ご利用金額 : '#03A9F3',
					CTR : '#AB8CE4',
					CPC : '#a3aebd',
					CPM : '#FEC107'
				},
				types : {
					impressions : 'bar',
					clicks : 'bar',
					spend : 'bar',
					CTR : 'line',
					CPC : 'line',
					CPM : 'line',
				},
				groups : [ [ '表示回数', 'クリック数' ] ]
			},
			axis: { 
			    x: { 
			     type: 'category'
			    } 
			} 
		});
		/*Facebookデバイス Chart*/
		var chart = c3.generate({
			bindto : '#facebookDevice',
			data : {
				x:'x',
				columns : [
					/*[[${fbDeviceGraphReportDto.reportTypeList}]]*/ ,
				/*[[${fbDeviceGraphReportDto.impressionList}]]*/,
				/*[[${fbDeviceGraphReportDto.clicksList}]]*/,
				/*[[${fbDeviceGraphReportDto.spendList}]]*/,
				/*[[${fbDeviceGraphReportDto.CPCList}]]*/,
				/*[[${fbDeviceGraphReportDto.CPMList}]]*/,
				/*[[${fbDeviceGraphReportDto.CTRList}]]*/
				],
				names : {
					impressions : '表示回数',
					clicks : 'クリック回数',
					spend : 'ご利用金額',
					cpc : 'CPC',
					cpm : 'CPM',
					ctr : 'CTR'
				},
				colors : {
					表示回数 : '#00C292',
					クリック数 : '#4C5667',
					ご利用金額 : '#03A9F3',
					CTR : '#AB8CE4',
					CPC : '#a3aebd',
					CPM : '#FEC107'
				},
				types : {
					impressions : 'bar',
					clicks : 'bar',
					spend : 'bar',
					CTR : 'line',
					CPC : 'line',
					CPM : 'line',
				},
				groups : [ [ '表示回数', 'クリック数' ] ]
			},
			axis: { 
			    x: { 
			     type: 'category'
			    } 
			} 
		});
		/*Facebookリージョン Chart*/
		var chart = c3.generate({
			bindto : '#facebookRegion',
			data : {
				x:'x',
				columns : [
					/*[[${fbRegionGraphReportDto.reportTypeList}]]*/ ,
				/*[[${fbRegionGraphReportDto.impressionList}]]*/,
				/*[[${fbRegionGraphReportDto.clicksList}]]*/,
				/*[[${fbRegionGraphReportDto.spendList}]]*/,
				/*[[${fbRegionGraphReportDto.CPCList}]]*/,
				/*[[${fbRegionGraphReportDto.CPMList}]]*/,
				/*[[${fbRegionGraphReportDto.CTRList}]]*/
				],
				names : {
					impressions : '表示回数',
					clicks : 'クリック回数',
					spend : 'ご利用金額',
					cpc : 'CPC',
					cpm : 'CPM',
					ctr : 'CTR'
				},
				colors : {
					表示回数 : '#00C292',
					クリック数 : '#4C5667',
					ご利用金額 : '#03A9F3',
					CTR : '#AB8CE4',
					CPC : '#a3aebd',
					CPM : '#FEC107'
				},
				types : {
					impressions : 'bar',
					clicks : 'bar',
					spend : 'bar',
					CTR : 'line',
					CPC : 'line',
					CPM : 'line',
				},
				groups : [ [ '表示回数', 'クリック数' ] ]
			},
			axis: { 
			    x: { 
			     type: 'category'
			    } 
			} 
		});
		/*]]>*/
	</script>
</div>
</html>