<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="ti-world linkSaki"></i>
						<div class="d-inline">
							<h4>リンク先一覧</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div class="card">
			<div class="card-block">
				<form th:action="@{/}" method="post">
					<div class="dt-responsive table-responsive">
						<table id="basicTable" class="table table-striped table-bordered nowrap" style="width: 100%;">
							<thead>
								<tr>
									<th>リンク先ID</th>
									<th>リンク先名</th>
									<th>URL</th>
									<th>リンク先フラグ</th>
									<th>動作</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>リンク先ID</th>
									<th>リンク先名</th>
									<th>URL</th>
									<th>リンク先フラグ</th>
									<th>動作</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="dspSegmentListDto : ${dspSegmentDtoList}">
									<td th:text="*{dspSegmentListDto.segmentId}"></td>
									<td th:text="*{dspSegmentListDto.segmentName}">セグメント１</td>
									<td th:text="*{dspSegmentListDto.url}">セグメント１</td>
									<td th:text="${T(jp.acepro.haishinsan.enums.SegmentFlag).of(__*{dspSegmentListDto.is_enabled}__).label}">http://ace-pro.com</td>
									<td><button type="submit" class="btn btn-danger" onclick="return check('DSPセグメントを削除してよろしいでしょうか？')" th:formaction="@{/link/segment/segmentDelete(segmentManageId=*{dspSegmentListDto.segmentManageId})}" sec:authorize="hasAuthority('SEGMENT_CREATE')" th:formmethod="post">削除</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>