<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="col-lg-8">
				<div class="page-header-title">
					<i class="fa fa-envira label dsp"></i>
					<div class="d-inline">
						<h4>ファンへの配信広告　テンプレート作成完了</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div id="info" class="col-sm-24 col-md-24 col-xl-12 alert alert-success background-success">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<i class="icofont icofont-close-line-circled text-white"></i>
			</button>
			<strong>テンプレートの作成が成功しました!</strong>
		</div>
		<div class="card">
			<div class="card-block">
				<h4 class="sub-title">基本情報</h4>
				<form action="#" th:object="${newdspTemplateDto}">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">リンク先名</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{templatePriority}">リンク先名テスト</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">テンプレート名</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{templateName}">テンプレート名１</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">入札CPC単価</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="*{bidCpcPrice}+'円'">200円</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">課金方式</label>
						<div class="col-sm-8">
							<label class="col-form-label" th:text="${T(jp.acepro.haishinsan.enums.BillingType).of(__${newdspTemplateDto.billingType}__).getLabel()}">200円</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 text-right"></label>
						<div class="col-sm-12 text-center">
							<button class="btn btn-warning" type="submit" sec:authorize="hasAuthority('DSP_TEMPLATE_VIEW')" th:formaction="@{/dsp/templateList}" th:formmethod="get">一覧へ</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
