<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="ti-crown bg-c-yellow"></i>
						<div class="d-inline">
							<h4>案件簡単作成完了</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->
	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div id="info"
			class="col-sm-24 col-md-24 col-xl-12 alert alert-success background-success">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<i class="icofont icofont-close-line-circled text-white"></i>
			</button>
			<p>
				<strong
					th:if="${issueDto.dspSelected} == true and ${dspMsg} == null">ファンへの配信広告案件の作成が成功しました!</strong>
			</p>
			<p>
				<strong
					th:if="${issueDto.googleSelected} == true and ${googleMsg} == null">Google広告案件の作成が成功しました!</strong>
			</p>
			<p>
				<strong
					th:if="${issueDto.facebookSelected} == true and ${facebookMsg} == null">Facebook広告案件の作成が成功しました!</strong>
			</p>
			<p>
				<strong
					th:if="${issueDto.twitterSelected} == true and ${twitterMsg} == null">Twitter広告案件の作成が成功しました!</strong>
			</p>
		</div>
		<div id="info"
			class="col-sm-24 col-md-24 col-xl-12 alert alert-danger background-danger">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<i class="icofont icofont-close-line-circled text-white"></i>
			</button>
			<p>
				<strong th:if="${dspMsg} != null" th:text="${dspMsg}">媒体ファンへの配信広告案件の作成が成功しました!</strong>
			</p>
			<p>
				<strong th:if="${googleMsg} != null" th:text="${googleMsg}">媒体ファンへの配信広告案件の作成が成功しました!</strong>
			</p>
			<p>
				<strong th:if="${facebookMsg} != null" th:text="${facebookMsg}">媒体ファンへの配信広告案件の作成が成功しました!</strong>
			</p>
			<p>
				<strong th:if="${twitterMsg} != null" th:text="${twitterMsg}">媒体ファンへの配信広告案件の作成が成功しました!</strong>
			</p>
		</div>
		<form id="defaultForm" class="form-horizontal"
			th:action="@{/issue/createIssue}" th:object="${issueDto}"
			method="post">
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">基本情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">案件名</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="*{campaignName}">案件名</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">予算</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="*{budget} + 円">1,000</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信開始日</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="*{startDate}"></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信終了日</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="*{endDate}"></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">リンク先のURL</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="*{url}">https://www.apple.com/macbook</label>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${issueDto.dspSelected} == true" class="card">
				<div class="card-block">
					<h4 class="sub-title">クリエイティブ情報</h4>
					<div class="form-group row">
					<label class="col-sm-2 col-form-label text-right">クリエイティブ情報</label>
					<div class="col-sm-4 col-form-label"
						th:if="${#lists.isEmpty(issueDto.dspCampaignCreInputFormList)}">
						<select id="custom-headers" class="searchable" multiple
							th:field="*{idList}" disabled>
							<option th:each="object : *{dspCampaignCreInputFormList}"
								th:value="${object.getCreativeId()}"
								th:text="${object.getCreativeName()}">日本</option>
						</select>
					</div>
					<div class="col-sm-4 col-form-label"
						th:unless="${#lists.isEmpty(issueDto.dspCampaignCreInputFormList)}">
						<select id="custom-headers" class="searchable" multiple
							th:field="*{idList}" disabled>
							<option th:each="object : *{dspCampaignCreInputFormList}"
								th:selected="${#lists.contains(issueDto.idList, object.getCreativeId())}"
								th:value="${object.getCreativeId()}"
								th:text="${object.getCreativeName()}">日本</option>
						</select>
					</div>
				</div>
					<!-- Scrolling DataTable table end -->
				</div>
			</div>
			<div th:if="${issueDto.googleSelected} == true" class="card">
				<div class="card-block">
					<h4 class="sub-title">Google</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">広告タイプ</label>
						<div class="col-sm-4 col-form-label">
							<label id="adType"
								th:text="${T(jp.acepro.haishinsan.enums.GoogleAdType).of(issueDto.adType).getLabel()}">レスポンシブ広告</label>
						</div>
					</div>
					<div
						th:if="${issueDto.adType == T(jp.acepro.haishinsan.enums.GoogleAdType).RESPONSIVE.getValue()}">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">短い広告見出し</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{resAdShortTitle}">MacBook Pro</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{resAdDescription}">新しいパソコンが発売</label>
							</div>
						</div>
						<div class="card-block">
							<div class="sub-title">画像ファイル</div>
							<div class="card">
								<div class="card-block masonry-image">
									<div class="default-grid ">
										<div class="row lightboxgallery-popup">
											<div class="col-sm-3 default-grid-item"
												th:each="image : ${resAdImageList}">
												<div class="masonry-media">
													<a class="media-middle" href="#!"> <img
														class="img-fluid" th:src="${image}" alt="masonary">
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						th:if="${issueDto.adType == T(jp.acepro.haishinsan.enums.GoogleAdType).IMAGE.getValue()}">
						<div class="card-block">
							<div class="sub-title">画像ファイル</div>
							<div class="card">
								<div class="card-block masonry-image">
									<div class="default-grid ">
										<div class="row lightboxgallery-popup">
											<div class="col-sm-3 default-grid-item"
												th:each="image : ${imageAdImageList}">
												<div class="masonry-media">
													<a class="media-middle" href="#!"> <img
														class="img-fluid" th:src="${image}" alt="masonary">
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						th:if="${issueDto.adType == T(jp.acepro.haishinsan.enums.GoogleAdType).TEXT.getValue()}">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し１</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{textAdTitle1}">MacBook Pro広告見出し１</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">広告見出し２</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{textAdTitle2}">MacBook Pro広告見出し２</label>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-right">説明文</label>
							<div class="col-sm-4 col-form-label">
								<label th:text="*{textAdDescription}">MacBook Pro説明文</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div th:if="${issueDto.twitterSelected} == true" class="card">
				<div class="card-block">
					<h4 class="sub-title">Twitter</h4>
					<!-- Scrolling DataTable table start -->
					<div id="twitterTweets" class="dt-responsive table-responsive">
						<table id="basicTable"
							class="table table-striped table-hover table-bordered nowrap"
							style="width: 100%;">
							<thead>
								<tr>
									<th></th>
									<th>ツイートレビュー</th>
									<th>ツイート内容</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th></th>
									<th>ツイートレビュー</th>
									<th>ツイート内容</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="websiteTweet : *{websiteTweetList}">
									<td><input type="checkbox" name="tweetIdList"
										autocomplete="off" tabindex="-1" data-row="0" data-col="2"
										disabled="disabled" checked="checked"></td>
									<td><a th:href="${websiteTweet.previewUrl}"
										target="_blank">プレビュー</a></td>
									<td
										th:utext="${websiteTweet.tweetTitle} + '&lt;br /&gt;' + ${websiteTweet.tweetBody}">Tiger
										Nixon</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Scrolling DataTable table end -->
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-12 text-center">
					<button  
						class="btn btn-success" type="submit"
						th:formaction="@{/issue/issueList}" th:formmethod="get">一覧へ</button>
				</div>
			</div>
		</form>
	</div>
	<!-- Page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>
