<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="ti-crown bg-c-pink"></i>
						<div class="d-inline">
							<h4>新規作成（STEP3：基本情報入力確認）</h4>
						</div>
						<div id="resultBox"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form th:action="@{/}" method="post" th:object="${createIssueForm}">
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">基本情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">案件名</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="${createIssueForm.issueName}">案件名</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">日別予算</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="${createIssueForm.dayBudget} + 円">1,000</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信開始日</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="${createIssueForm.issueStartDate}"></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信終了日</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="${createIssueForm.issueEndDate}"></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">リンク先のURL</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<a th:href="${createIssueForm.segmentUrl}" target="_blank"><u th:text="${createIssueForm.segmentUrl}">https://www.apple.com/macbook</u></a>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title text-capitalize">広告物（ファンへの配信、Google、Facebook）</h4>
					<div class="dt-responsive table-responsive">
						<table id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%;">
							<thead>
								<tr>
									<th>画像</th>
									<th>画像名</th>
									<th>画像サイズ</th>
									<th>テキスト</th>
									<th>審査状況</th>
									<th>送信日</th>
									<th>審査完了日</th>
									<th>設定先案件</th>
									<th>出稿先</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>画像</th>
									<th>画像名</th>
									<th>画像サイズ</th>
									<th>テキスト</th>
									<th>審査状況</th>
									<th>送信日</th>
									<th>審査完了日</th>
									<th>設定先案件</th>
									<th>出稿先</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="nonTwitterAdDto,stat : ${nonTwitterAdDtoList}">
									<td><span th:each="adImageUrl : ${nonTwitterAdDto.adImageUrlList}"> <img th:src="${adImageUrl}" style="width: 200px;"></img></br>
									</span></td>
									<td><pre th:text="${nonTwitterAdDto.adImageName}"></pre></td>
									<td><pre th:text="${nonTwitterAdDto.adImageSize}"></pre></td>
									<td><pre th:text="${nonTwitterAdDto.adText}"></pre></td>
									<td th:text="${nonTwitterAdDto.adReviewStatus}"></td>
									<td th:text="${nonTwitterAdDto.adCreateDate}"></td>
									<td th:text="${nonTwitterAdDto.adReviewDate}"></td>
									<td><u><a th:text="${nonTwitterAdDto.adIssue}" href="/issue/newIssueList"></a></u></td>
									<td><i th:class="${nonTwitterAdDto.adIcon}" style="width: 30px"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card" id="twitter">
				<div class="card-block">
					<h4 class="sub-title text-capitalize">広告物（Twitter）</h4>
					<!-- Scrolling DataTable table start -->
					<div id="websiteTwitter" class="dt-responsive table-responsive">
						<table id="basicTable" class="table table-striped table-bordered nowrap">
							<thead>
								<tr>
									<th>ツイート内容</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ツイート内容</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="twitterAdDto,stat : ${twitterAdDtoList}">
									<td><pre th:utext="${twitterAdDto.adText}"></pre></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Scrolling DataTable table end -->
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-12 text-center">
					<button class="btn btn-success" type="submit" th:formmethod="post" th:formaction="@{/issue/createIssueComplete}">次へ</button>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>