<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="ti-eye bg-c-pink"></i>
						<div class="d-inline">
							<h4>案件簡単作成完了</h4>
						</div>
						<div id="resultBox"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div id="info"
			class="col-sm-24 col-md-24 col-xl-12 alert alert-success background-success">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<i class="icofont icofont-close-line-circled text-white"></i>
			</button>
			<strong>案件作成は完了しました!</strong>
		</div>
		<form id="defaultForm" class="form-horizontal">
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">DSP、Google、Facebook</h4>
					<div class="dt-responsive table-responsive">
						<table id="basicTable"
							class="table table-striped table-hover table-bordered nowrap"
							style="width: 100%;">
							<thead>
								<tr>
									<th>画像名</th>
									<th>画像サイズ</th>
									<th>画像</th>
									<th>テキスト</th>
									<th>審査状況</th>
									<th>送信日</th>
									<th>審査完了日</th>
									<th>設定先案件</th>
									<th>出稿先</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>画像名</th>
									<th>画像サイズ</th>
									<th>画像</th>
									<th>テキスト</th>
									<th>審査状況</th>
									<th>送信日</th>
									<th>審査完了日</th>
									<th>設定先案件</th>
									<th>出稿先</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="nonTwitterAdDto,stat : ${nonTwitterAdDtoList}">
									<td><pre th:text="${nonTwitterAdDto.adImageName}"></pre></td>
									<td><pre th:text="${nonTwitterAdDto.adImageSize}"></pre></td>
									<td><span
										th:each="adImageUrl : ${nonTwitterAdDto.adImageUrlList}">
											<img th:src="${adImageUrl}" style="width: 200px;"></img></br>
									</span></td>
									<td><pre th:text="${nonTwitterAdDto.adText}"></pre></td>
									<td th:text="${nonTwitterAdDto.adReviewStatus}"></td>
									<td th:text="${nonTwitterAdDto.adCreateDate}"></td>
									<td th:text="${nonTwitterAdDto.adReviewDate}"></td>
									<td><u><a th:text="${nonTwitterAdDto.adIssue}"
											href="/issue/newIssueList"></a></u></td>
									<td><i th:class="${nonTwitterAdDto.adIcon}"
										style="width: 30px"></i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card" id="twitter">
				<div class="card-block">
					<h4 class="sub-title">Twitter</h4>
					<!-- Scrolling DataTable table start -->
					<div id="websiteTwitter" class="dt-responsive table-responsive">
						<table id="basicTable"
							class="table table-striped table-bordered nowrap">
							<thead>
								<tr>
									<th>ツイート内容</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ツイート内容</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="twitterAdDto,stat : ${twitterAdDtoList}">
									<td><pre th:utext="${twitterAdDto.adText}"></pre></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- Scrolling DataTable table end -->
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">基本情報</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">案件名</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="${issueInputForm.issueName}">案件名</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">予算</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="${issueInputForm.budget} + 円">1,000</label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信開始日</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="${issueInputForm.startDate}"></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">配信終了日</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="${issueInputForm.endDate}"></label>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">リンク先のURL</label>
						</div>
						<div class="col-sm-4 col-form-label">
							<label th:text="${issueInputForm.url}">https://www.apple.com/macbook</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-12 text-center">
					<a href="/issue/issueList"><button
							class="btn btn-success" type="button">案件一覧へ</button></a>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>