<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="ti-crown bg-c-pink"></i>
						<div class="d-inline">
							<h4>広告作成</h4>
						</div>
						<div id="resultBox"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form th:action="@{/}" method="post" th:object="${createIssueForm}">
			<div th:replace="common/errorMessages"></div>
			<div class="card">
				<div class="card-block">
					<!-- <h4 class="sub-title text-capitalize">広告物（ファンへの配信、Google、Facebook）</h4> -->
					<div>
					<h4 class="sub-title">広告物</h4>
					<a href="/creative/mediaDescription"><button class="btn btn-danger" type="button" style="width: 15rem;">新規広告物アップロード</button></a>
					</div>
					<div class="dt-responsive table-responsive">
						<table id="basicTable" class="table table-striped table-hover table-bordered nowrap" style="width: 100%;">
							<thead>
								<tr>
									<th>選択</th>
									<th>画像</th>
									<th>画像名</th>
									<th>画像サイズ</th>
									<th>テキスト</th>
									<th>審査状況</th>
									<th>送信日</th>
									<th>審査完了日</th>
									<th>設定先案件</th>
									<th>出稿先</th>
									<th>削除</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>選択</th>
									<th>画像</th>
									<th>画像名</th>
									<th>画像サイズ</th>
									<th>テキスト</th>
									<th>審査状況</th>
									<th>送信日</th>
									<th>審査完了日</th>
									<th>設定先案件</th>
									<th>出稿先</th>
									<th>削除</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="nonTwitterAdDto,stat : ${nonTwitterAdDtoList}">
									<td><input type="checkbox" name="nonTwitterAdIdList" th:value="${nonTwitterAdDto.adId}"></td>
									<td><span th:each="adImageUrl : ${nonTwitterAdDto.adImageUrlList}"> <img th:src="${adImageUrl}" style="width: 200px;"></img></br>
									</span></td>
									<td><pre th:text="${nonTwitterAdDto.adImageName}"></pre></td>
									<td><pre th:text="${nonTwitterAdDto.adImageSize}"></pre></td>
									<td><pre th:text="${nonTwitterAdDto.adText}"></pre></td>
									<td th:text="${nonTwitterAdDto.adReviewStatus}"></td>
									<td th:text="${nonTwitterAdDto.adCreateDate}"></td>
									<td th:text="${nonTwitterAdDto.adReviewDate}"></td>
									<td><u><a th:text="${nonTwitterAdDto.adIssue}" href="/issue/newIssueList"></a></u></td>
									<td><i th:class="${nonTwitterAdDto.adIcon}" style="width: 30px"></i></td>
									<td><a href="/issue/creativeList"><button class="btn btn-danger" type="button">削除</button></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
<!-- 			<div class="card" id="twitter">
				<div class="card-block">
					<h4 class="sub-title text-capitalize">広告物（Twitter）</h4>
					Scrolling DataTable table start
					<div id="websiteTwitter" class="dt-responsive table-responsive">
						<table id="basicTable" class="table table-striped table-bordered nowrap">
							<thead>
								<tr>
									<th>選択</th>
									<th>ツイート内容</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>選択</th>
									<th>ツイート内容</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="twitterAdDto,stat : ${twitterAdDtoList}">
									<td><input type="checkbox" name="twitterAdIdList" th:value="${twitterAdDto.adId}"></td>
									<td><pre th:utext="${twitterAdDto.adText}"></pre></td>
								</tr>
							</tbody>
						</table>
					</div>
					Scrolling DataTable table end
				</div>
			</div> -->
			<div class="form-group row">
				<div class="col-sm-12 text-center">
					<button sec:authorize="hasAuthority('SIMPLE_CAMPAIGN_MANAGE')" class="btn btn-success" type="submit" th:formmethod="post" th:formaction="@{/issue/createIssue}">次へ</button>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body"></div>
</body>
</html>