<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<head>
<style type="text/css">
.accordion-msg {
	border-top: none;
}

@media only screen and (max-width: 750px) {
	.text-right {
		display: inherit;
	}
}
</style>
</head>
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="ti-eye issueList"></i>
						<div class="d-inline">
							<h4>案件一覧</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<div class="card">
			<div class="card-block">
				<form th:action="@{/issues/issueList}" method="post"
					th:object="${issueSearchForm}">
				
					<div class="dt-responsive table-responsive">
						<input type="hidden" class="js-single">
						<table id="tableForIssueList"
							class="table table-striped table-bordered nowrap"
							style="width: 100%;">
							<thead>
								<tr>
									<th>法人名</th>
									<th>店舗名</th>
									<th>名称</th>
									<th>配信媒体</th>
									<th>ステータス</th>
									<th>費用</th>
									<th>配信開始日</th>
									<th>配信終了日</th>
									<th>on/off</th>
									<th>承認</th>
									<th>アクション</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>法人名</th>
									<th>店舗名</th>
									<th>名称</th>
									<th>配信媒体</th>
									<th>ステータス</th>
									<th>費用</th>
									<th>配信開始日</th>
									<th>配信終了日</th>
									<th>on/off</th>
									<th>承認</th>
									<th>アクション</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="issue : ${issuesDtoList}">
									<td th:text="${issue.corporationName}">法人</td>
									<td th:text="${issue.shopName}">秋葉原店舗</td>
									<td th:text="${issue.campaignName}">キャンペーン名</td>
									<td><label th:class="${issue.mediaIcon}"
										th:text="${issue.media}">媒体</label></td>
									<td><label th:class="${issue.statusIcon}"
										th:text="${issue.status}">配信中</label></td>
									<td th:text="${issue.budget}">予算</td>
									<td th:text="${issue.startDate}">配信開始日</td>
									<td th:text="${issue.endDate}">配信終了日</td>
									<!-- yahoo,youtube switch -->
									<td th:if="${(issue.media == T(jp.acepro.haishinsan.enums.IssueAdtype).YAHOO.getLabel()) || (issue.media == T(jp.acepro.haishinsan.enums.IssueAdtype).YOUTUBE.getLabel())}"></td>
									<!-- other switch -->
									<td th:unless="${(issue.media == T(jp.acepro.haishinsan.enums.IssueAdtype).YAHOO.getLabel()) || (issue.media == T(jp.acepro.haishinsan.enums.IssueAdtype).YOUTUBE.getLabel())}">
										<label id="media" hidden="hidden" th:text="${issue.media}"></label>
										<label hidden="hidden" th:text="${issue.campaignId}"></label> 
										<input type="checkbox" class="js-switch" 
											th:checked="${issue.campaignStatus} == 'ACTIVE'" 
											th:disabled="${(issue.campaignStatus == T(jp.acepro.haishinsan.enums.TwitterCampaignStatus).EXPIRED.getLabel())
											 || !(T(jp.acepro.haishinsan.util.ContextUtil).hasAuthority('CAMPAIGN_APPROVAL'))}">
									</td>
									<!-- yahoo,youtube approal -->
									<td th:if="${(issue.media == T(jp.acepro.haishinsan.enums.IssueAdtype).YAHOO.getLabel()) || (issue.media == T(jp.acepro.haishinsan.enums.IssueAdtype).YOUTUBE.getLabel())}"></td>
									<!-- other approal -->
									<td th:unless="${(issue.media == T(jp.acepro.haishinsan.enums.IssueAdtype).YAHOO.getLabel()) || (issue.media == T(jp.acepro.haishinsan.enums.IssueAdtype).YOUTUBE.getLabel())}" th:text="${T(jp.acepro.haishinsan.enums.ApprovalFlag).of(issue.approvalFlag).getLabel()}">承認待ち</td>
									<td>
										<button class="label detail" type="submit"
											th:formmethod="post"
											sec:authorize="hasAuthority('ISSUE_DETAIL')"
											th:formaction="@{/issue/report/allReporting(issueId=${issue.issueId}, media=${issue.media})}">
											<i class="ti-bar-chart"></i>詳細
										</button>
										<button class="label delete" type="submit"
											th:formmethod="post"
											th:formaction="@{/issues/deleteIssue(issueId=${issue.issueId}, media=${issue.media})}">
											<i class="ti-trash"></i>削除
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Page body end -->
	<div layout:fragment="custom_resource_body">
		<script type="text/javascript">
		$(document).ready(function() {
			var apiError = false;
			$(":checkbox").change(function() {
				// 異常発生しない場合、処理を続ける
				// 異常発生した場合は、異常フラグをリセット
				if (apiError) {
					apiError = false;
					return;
				}
				var campaignId = $(this).prev().text();
				var media = $("#media").text();
				var urlStr = "/issue/approval";
				var mediaUrlStr = null;
				var checkedStatus = $(this).prop('checked');
				// 動作フラグを設定
			    var switchFlag = "";
				if ($(this).prop('checked')) {
			        switchFlag = "ON"; 　　// OFFにする
				} else {
					switchFlag = "OFF"; // ONにする
				}
				switch (media) {
				case "Google":
					mediaUrlStr = urlStr + "/google/"　+ campaignId + "/"　+ switchFlag;
					break;
				case "FaceBook":
					mediaUrlStr = urlStr + "/facebook/updateCampaignStatus/" + campaignId + "/" + switchFlag;
					break;
				case "Instagram":
					break
				case "FreakOut":
					mediaUrlStr = urlStr +  "/dsp/" + campaignId + "/" + switchFlag;
					break;
				case "Twitter":
					mediaUrlStr = urlStr + "/twitter/" + campaignId + "/" + switchFlag;
					break;
				}
				// 審査状況Elementを取得
				var approval = $(this).parent().next();
				// スイッチElementを取得
				var checkBox = $(this);
				//alert(urlStr);
	            $.ajax({
					url: mediaUrlStr, // 自分のURLに変更
					success: function( result ) {
						console.log(approval.text());
						if (approval.text() == "承認待ち" && switchFlag == "ON") {
							approval.text("承認済み");
					    }
						$("#tableForIssueList").DataTable();
					    alert(media + "広告のステータスが更新されました！");
					    console.log(result);
					},
					error:function(XMLHttpRequest, textStatus, errorThrown){
						// Change Functionの無限ループをしないために、、
						//　異常発生時に異常フラグ設定
                    	apiError = true;	
						
						// 異常終了時にアラート表示
						alert("異常発生したため、" + media + "広告のステータスが更新できませんでした！");
						
						// スイッチの状態をクリック前に戻すとともに、
						//　Change Functionを再度発火するため、無限ループになる
						checkBox.click();
				   }
				});
			});
		});
		
		$(function() {
			$('#tableForIssueList').DataTable({
				scrollY : true,
				scrollX : true,
				paging : false,
				autoFill : true,
				lengthChange : false,
				searching : false,
				'language' : {
					"sEmptyTable" : "テーブルにデータがありません",
					"sInfo" : " _TOTAL_ 件中 _START_ から _END_ まで表示",
					"sInfoEmpty" : " 0 件中 0 から 0 まで表示"
				},
			});
		});
		</script>
	</div>
</body>
</html>