<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<body>
	<div class="top-bar clearfix" layout:fragment="page_header_container">
		<!-- Page-header start -->
		<div class="page-header card">
			<div class="row align-items-end">
				<div class="col-lg-8">
					<div class="page-header-title">
						<i class="fa fa-facebook bg-facebook"></i>
						<div class="d-inline">
							<h4>Facebook広告 案件新規作成</h4>
							<strong class="text-danger">※の項目は、必須項目です。</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page-header end -->

	<!-- Page body start -->
	<div layout:fragment="page_body_container">
		<form id="defaultForm" class="form-horizontal" th:action="@{/facebook/completeCampaign}" method="post" th:object="${fbCampaignInputForm}" enctype="multipart/form-data" onsubmit="return check('')">
			<div th:replace="common/errorMessages"></div>
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">テンプレート選択</h4>
					<div class="form-group row">
						<div class="col-sm-2 text-right">
							<label class="col-form-label">テンプレート</label>
						</div>
						<div class="col-sm-8">
							<select class="form-control select" th:field="*{templateId}" onchange="refreshVal();">
								<option th:each="object : ${fbTemplateDtoList}" th:selected="${fbCampaignInputForm.templateId == object.getTemplateId()}" th:value="${object.getTemplateId()}" th:text="${object.getTemplateName()}">クリック重視</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<h4 class="sub-title">案件入力内容</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">案件名<span class="text-danger">※</span></label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{campaignName}" required="required" maxlength="60">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信開始日<span class="text-danger">※</span></label>
						<div class="col-sm-2">
							<input type="date" class="form-control" th:field="*{startDate}" required="required">
						</div>

					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配信終了日<span class="text-danger">※</span></label>
						<div class="col-sm-2">
							<input type="date" class="form-control" th:field="*{endDate}" required="required">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">一日の予算<span class="text-danger">※</span></label>
						<div class="col-sm-2">
							<input type="number" class="form-control" th:field="*{dailyBudget}" required="required" min="1" max="9999999999">
						</div>
						<span class="col-form-label">円</span>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">入札戦略<span class="text-danger">※</span></label>
						<div class="col-sm-4">
							<select class="form-control" th:field="*{unitPriceType}" required="required">
								<option th:each="object : ${T(jp.acepro.reporting.backoffice.enums.UnitPriceType).values()}" th:selected="${fbCampaignInputForm.unitPriceType == object.getValue()}" th:value="${object.value}" th:text="${object.label}"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">配置場所<span class="text-danger">※</span></label>
						<div class="col-sm-4">
							<select class="form-control" th:field="*{arrangePlace}" required="required">
								<option th:each="object : ${T(jp.acepro.reporting.backoffice.enums.FacebookArrangePlace).values()}" th:selected="${arrangePlace == object.value}" th:value="${object.value}" th:text="${object.label}"></option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">地域<span class="text-danger">※</span></label>
						<div class="col-sm-4" th:if="${#lists.isEmpty(fbCampaignInputForm.locationList)}">
							<select class="searchable" multiple="multiple" th:field="*{locationList}">
								<option th:each="object : ${T(jp.acepro.reporting.backoffice.service.CodeMasterServiceImpl).facebookAreaNameList}" th:value="${object.getFirst()}" th:text="${object.getSecond()}">日本</option>
							</select>
						</div>
						<div class="col-sm-4" th:unless="${#lists.isEmpty(fbCampaignInputForm.locationList)}">
							<select class="searchable" multiple="multiple" th:field="*{locationList}">
								<option th:each="object : ${T(jp.acepro.reporting.backoffice.service.CodeMasterServiceImpl).facebookAreaNameList}" th:selected="${#lists.contains(fbCampaignInputForm.locationList, object.getFirst())}" th:value="${object.getFirst()}" th:text="${object.getSecond()}">日本</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right">ウェブサイトのURL<span class="text-danger">※</span></label>
						<div class="col-sm-6">
							<select class="form-control" th:field="*{segmentId}" required="required">
								<option th:each="dspSegmentDto : ${dspSegmentDtoList}" th:selected="${fbCampaignInputForm.segmentId} == ${dspSegmentDto.getSegmentId()}" th:value="${dspSegmentDto.getSegmentId()}" th:text="${dspSegmentDto.getUrl()}"></option>
							</select>
						</div>
					</div>
					<h4 class="sub-title">
						画像アップロード<span class="text-danger">※</span>
					</h4>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label text-right"></label>
						<div class="col-sm-8">
							<input type="file" th:field="*{image}" required>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button sec:authorize="hasAuthority('FACEBOOK_CAMPAIGN_MANAGE')" class="btn btn-success" th:formaction="@{/facebook/completeCampaign}" th:formmethod="post">作成</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- page body end -->

	<div layout:fragment="custom_resource_body">
		<script th:inline="javascript">
			/*<![CDATA[*/
		    var nowTemplateId = $('#templateId').val();
	        function refreshVal(){
	        	var fbTemplateDtoList = /*[[${fbTemplateDtoList}]]*/;
	        	var templateId = $('#templateId').val();
	        	var fbTemplateDto = fbTemplateDtoList.find(
	        		function(element) {
	        		    return element.templateId == templateId;
	        		}
	        	);
	        	
	            if(window.confirm('テンプレート「' + fbTemplateDto.templateName + '」を使用してもよろしいですか？\r\nテンプレートが切り替わると、入力内容は変更されます。')) { 
	            	// 確認時の処理
	            	nowTemplateId = $('#templateId').val();
	            	$("#unitPriceType").val(fbTemplateDto.unitPriceType);
	            	$("#locationList").val(fbTemplateDto.locationList);
	            	$('#locationList').multiSelect('refresh');
	            } else {
	            	// キャンセル時の処理
		            $('#templateId').val(nowTemplateId); // 処理中止
	            }
	        }
			/*]]>*/
		</script>
		<script type="text/javascript"> 
	        //配信開始日、終了日のを過去に選択できない
	        $(function(){
	        	 var toDay = new Date();
		            var year = toDay.getFullYear();
		            var month = toDay.getMonth()+1 < 10 ? "0"+(toDay.getMonth()+1) : (toDay.getMonth()+1);
		            var day = toDay.getDate() < 10 ? "0"+toDay.getDate() : toDay.getDate();
		            $("#startDate").attr("min",year+"-"+month+"-"+day);
		            $("#endDate").attr("min",year+"-"+month+"-"+day);
	        });
        </script>
	</div>
</body>
</html>